@font-face {
  font-family: "Oswald";
  src: url("@/shared/assets/fonts/oswald/Oswald-Regular.woff2") format("woff2"),
    url("@/shared/assets/fonts/oswald/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("@/shared/assets/fonts/oswald/Oswald-Light.woff2") format("woff2"),
    url("@/shared/assets/fonts/oswald/Oswald-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("@/shared/assets/fonts/oswald/Oswald-Medium.woff2") format("woff2"),
    url("@/shared/assets/fonts/oswald/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("@/shared/assets/fonts/oswald/Oswald-SemiBold.woff2") format("woff2"),
    url("@/shared/assets/fonts/oswald/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("@/shared/assets/fonts/oswald/Oswald-Bold.woff2") format("woff2"),
    url("@/shared/assets/fonts/oswald/Oswald-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Roboto
@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), local("Roboto-Light"),
    url("@/shared/assets/fonts/roboto/Roboto-Light.woff2") format("woff2"),
    url("@/shared/assets/fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("@/shared/assets/fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("@/shared/assets/fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("@/shared/assets/fonts/roboto/Roboto-Medium.woff2") format("woff2"),
    url("@/shared/assets/fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("@/shared/assets/fonts/roboto/Roboto-Bold.woff2") format("woff2"),
    url("@/shared/assets/fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"),
    url("@/shared/assets/fonts/roboto/Roboto-Black.woff2") format("woff2"),
    url("@/shared/assets/fonts/roboto/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
