.accordion {
  &__item {
    &.is-active {
      .accordion__icon::after {
        transform: translate(-50%, -50%) rotate(90deg);
        opacity: 0;
      }

      .accordion__content {
        grid-template-rows: 1fr;
      }
    }
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
    text-align: left;
  }

  &__icon {
    position: relative;
    width: 12px;
    height: 12px;
    flex-shrink: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: var(--gray-1);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    &::before {
      width: 100%;
      height: 2px;
    }
    &::after {
      width: 2px;
      height: 100%;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  &__inner {
    min-height: 0;
    padding-bottom: 0;
    transition: all 0.3s ease;
  }
}
