@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.page-footer {
  background-color: var(--black);
  color: var(--white);

  &__content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4f4f4f;
    padding-top: 64px;
    padding-bottom: 118px;
  }

  .page-footer-item {
    &__title {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
      color: var(--white);
      margin-bottom: 30px;
    }
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 3px;

    &__link {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 13px;
      text-transform: uppercase;
      color: var(--gray-1);
      transition: 0.3s;

      @media (hover: hover) {
        &:hover {
          color: var(--white);
        }
      }
    }
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 9px;

    &__item {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &__title {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      color: var(--white);
    }

    &__info {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      color: var(--gray-1);
    }
  }

  .follow-us-list {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__link {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 13px;
      text-transform: uppercase;
      color: var(--gray-1);

      display: flex;
      align-items: center;
      gap: 19px;
    }
  }

  .join-us-form {
    display: flex;
    flex-direction: column;

    &__label {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 13px;
      text-transform: uppercase;
      color: var(--gray-1);
      margin-bottom: 11px;
    }

    &__input {
      max-width: 292px;
      height: 40px;
      min-width: 280px;
      border: 1px solid var(--white);
      background-color: transparent;
      padding-inline: 15px;
      margin-bottom: 8px;

      &::placeholder {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 12px;
        color: var(--white);
      }
    }

    .button {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      color: var(--black-2);
    }
  }

  &__copyright {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--white);
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
