@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.page-footer {
  $bp-tablet: 1190px;
  $bp-mobile: 500px;

  .page-footer__container {
    background-color: var(--black);
    color: var(--white);
    white-space: nowrap;
  }

  &__content {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #4f4f4f;
    padding-top: 64px;
    padding-bottom: 118px;

    @include mixins.respond-to($bp-mobile) {
      flex-direction: column;
      gap: 0;
      white-space: normal;
      padding-top: 27px;
      padding-bottom: 25px;

      border-bottom: none;
    }
  }

  &__logo-wrapper {
    @include mixins.respond-to($bp-tablet) {
      flex: 0 1 10%;
      text-align: center;
    }

    @include mixins.respond-to($bp-mobile) {
      margin-bottom: 8px;
    }
  }

  &__logo {
    @include mixins.respond-to(md) {
      width: 64px;
      height: 37px;
    }

    @include mixins.respond-to($bp-mobile) {
      width: 94px;
      height: 44px;
    }
  }

  .page-footer-item {
    @include mixins.respond-to($bp-tablet) {
      flex: 1;
    }

    @include mixins.respond-to($bp-mobile) {
      border-bottom: 1px solid #4f4f4f;
    }

    &__title {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
      color: var(--white);
      margin-bottom: 30px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: margin 0.3s ease;

      @include mixins.respond-to($bp-mobile) {
        padding-block: 13px;
        margin-bottom: 0 !important;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.04em;
      }
    }

    &__icon {
      display: none;
      width: 18px;
      height: 2px;
      background-color: var(--black-2);
      position: relative;
      transition: transform 0.3s ease;

      @include mixins.respond-to($bp-mobile) {
        display: block;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: inherit;
        transform: rotate(90deg);
      }
    }

    &.js-accordion-title {
      .page-footer-item__content {
        @include mixins.respond-to($bp-mobile) {
          display: grid;
          grid-template-rows: 0fr;
          overflow: hidden;
          transition: grid-template-rows 0.3s ease, padding 0.3s ease;

          & > * {
            min-height: 0;
          }
        }
      }
    }

    @include mixins.respond-to($bp-mobile) {
      &.is-active {
        .page-footer-item__title {
          margin-bottom: 15px !important;
        }
        .page-footer-item__icon {
          transform: rotate(45deg);
        }
        .page-footer-item__content {
          grid-template-rows: 1fr;
          padding-bottom: 20px;
        }
      }
    }

    &__join-us {
      @include mixins.respond-to($bp-mobile) {
        margin-top: 8px;
      }
    }
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 3px;

    &__link {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 13px;
      text-transform: uppercase;
      color: var(--gray-1);
      transition: 0.3s;

      @include mixins.respond-to($bp-mobile) {
        font-size: 12px;
      }

      @media (hover: hover) {
        &:hover {
          color: var(--white);
        }
      }
    }
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 9px;

    &__item {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &__title {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      color: var(--white);

      @include mixins.respond-to($bp-mobile) {
        font-size: 12px;
      }
    }

    &__info {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      color: var(--gray-1);

      @include mixins.respond-to($bp-mobile) {
        font-size: 11px;
      }
    }
  }

  .follow-us-list {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__link {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 13px;
      text-transform: uppercase;
      color: var(--gray-1);
      display: flex;
      align-items: center;
      gap: 19px;

      @include mixins.respond-to($bp-mobile) {
        font-size: 12px;
      }
    }
  }

  .join-us-form {
    display: flex;
    flex-direction: column;
    max-width: 292px;

    @include mixins.respond-to($bp-mobile) {
      max-width: 100%;
    }

    &__label {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 13px;
      text-transform: uppercase;
      color: var(--gray-1);
      margin-bottom: 11px;

      @include mixins.respond-to($bp-mobile) {
        font-size: 11px;
        margin-bottom: 6px;
      }
    }

    &__input {
      max-width: 292px;
      height: 40px;
      min-width: 280px;
      border: 1px solid var(--white);
      background-color: transparent;
      padding-inline: 15px;
      margin-bottom: 8px;

      @include mixins.respond-to($bp-mobile) {
        margin-bottom: 11px;
        max-width: 100%;
      }

      &::placeholder {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 12px;
        color: var(--white);
      }
    }

    .button {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      color: var(--black-2);

      @include mixins.respond-to($bp-mobile) {
        font-size: 13px;
      }
    }
  }

  &__copyright {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--white);
    padding-top: 20px;
    padding-bottom: 40px;

    @include mixins.respond-to($bp-mobile) {
      padding-bottom: 24px;
    }
  }
}
