@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  &__link {
    display: inline-flex;
    font-size: functions.fluidValue(11px, 14px, 360px, 1920px);
    letter-spacing: 0.02em;
    padding-block: 5px;
    font-family: var(--second-family);
    font-weight: 400;
    color: var(--gray-1);

    @media (hover: hover) {
      &:not(.breadcrumbs__link_current):hover {
        text-decoration: underline;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__separator {
    display: inline-flex;
    font-size: functions.fluidValue(11px, 14px, 360px, 1920px);
    letter-spacing: 0.02em;
    padding-block: 5px;
    font-family: var(--second-family);
    font-weight: 400;
    color: var(--gray-1);
    margin-inline: 2px;
  }

  &_color_muted {
    .breadcrumbs__link {
      color: var(--muted-text);
    }

    .breadcrumbs__icon path {
      fill: var(--muted-text);
    }
  }
}
