.modal {
  position: fixed;
  inset: 0;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;

  &_open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;

    .modal__window {
      transform: translateY(0);
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
  }

  &__window {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.14);
    background: var(--white);
    width: 100%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    cursor: default;
    transform: translateY(-20px);
    transition: transform 0.3s ease;

    &_size_sm {
      max-width: 400px;
    }
    &_size_md {
      max-width: 600px;
    }
    &_size_lg {
      max-width: 950px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-size: 1.25rem;
  }

  &__close-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 4px;
    color: #666;
    &:hover {
      color: #000;
    }
  }

  &__content {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
