@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

// functions.fluidValue(12px, 14px, 320px, 1920px)

.cart-table {
  background-color: yellowgreen;
  display: grid;
  grid-template-columns: repeat(4, max-content) minmax(120px, max-content) max-content;
  column-gap: 32px;
  align-items: center;
  justify-content: space-between;

  &__header {
    display: contents;
  }

  &__list {
    display: contents;
  }

  &__footer {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
  }

  .cart-product-card {
    display: contents;

    &__wrapper {
      grid-column: 1/-1;
      grid-template-columns: subgrid;
    }
  }
}
