@mixin button-outlined-color($color) {
  @if $color == "black" {
    border: 2px solid var(--black);

    @media (hover: hover) {
      &:hover {
        border: 2px solid var(--gray-1);
      }
    }
  } @else if $color == "white" {
    border: 2px solid var(--white);
    color: var(--white);

    @media (hover: hover) {
      &:hover {
        border: 2px solid var(--gray-1);
      }
    }
  } @else if $color == "gray" {
    border: 2px solid var(--divider);
    color: var(--gray-1);

    @media (hover: hover) {
      &:hover {
        border: 2px solid var(--gray-1);
      }
    }
  }
}
