@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.button {
  font-family: var(--font-family-primary);
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: fit-content;
  padding-block: 10px;
  padding-inline: 46px;
  text-transform: uppercase;

  &:disabled,
  &[aria-disabled="true"],
  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &_solid {
    background-color: var(--black);
    color: var(--white);
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

    @media (hover: hover) {
      &:hover {
        background-color: var(--black-2);
        color: var(--white);
      }
    }
  }

  &.button_solid.button_white {
    background-color: var(--white);
    color: var(--black);

    @media (hover: hover) {
      &:hover {
        background: var(--gray-1);
        color: var(--white);
      }
    }
  }

  &_outlined {
    background-color: transparent;
    color: var(--foreground-secondary);
    border: 2px solid var(--black);
    transition: color 0.3s ease, border 0.3s ease;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    padding-block: 12px;
    padding-inline: 46px;
    color: var(--black);

    @media (hover: hover) {
      &:hover {
        border: 2px solid var(--gray-1);
      }
    }
  }

  &.button_outlined.button_black {
    border: 2px solid var(--black);

    @media (hover: hover) {
      &:hover {
        border: 2px solid var(--gray-1);
      }
    }
  }

  &.button_outlined.button_gray {
    border: 2px solid var(--divider);
    color: var(--gray-1);

    @media (hover: hover) {
      &:hover {
        border: 2px solid var(--gray-1);
      }
    }
  }

  &.button_outlined.button_white {
    border: 2px solid var(--white);
    color: var(--white);

    @media (hover: hover) {
      &:hover {
        border: 2px solid var(--gray-1);
      }
    }
  }

  &_fill {
    width: 100%;
  }

  &_elevated {
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--black);
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

    @media (hover: hover) {
      &:hover {
        border-color: var(--black-2);
        background-color: var(--black-2);
        color: var(--white);
      }
    }
  }

  &.button_elevated.button_gray {
    background-color: var(--light-blue-hover);
    color: var(--gray-1);
    border: 2px solid var(--divider);
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

    @media (hover: hover) {
      &:hover {
        border-color: var(--gray-1);
        background-color: var(--light-blue-hover);
        color: var(--gray-1);
      }
    }
  }
}
