@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.button {
  font-family: var(--font-family-primary);
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: fit-content;

  &_solid {
    background-color: var(--background-secondary);
    color: var(--foreground-secondary);
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

    @media (hover: hover) {
      &:hover {
        background-color: var(--background-tertiary);
        color: var(--foreground-secondary);
      }
    }
  }

  &_outlined {
    background-color: transparent;
    color: var(--foreground-secondary);
    border: 2px solid var(--black);
    transition: color 0.3s ease, border 0.3s ease;

    @media (hover: hover) {
      &:hover {
        border: 2px solid var(--black-2);
      }
    }
  }

  &_white {
    &.button_solid {
      background: var(--background);
      color: var(--foreground);

      &:hover {
        background: var(--gray-1);
        color: var(--foreground-secondary);
      }
    }
  }
}
