@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

$bp-mobile: 650px;
.dashboard-info {
  display: flex;
  flex-direction: column;
  gap: functions.fluidValue(20px, 65px, 320px, 1920px);

  // &__section-title {
  //   font-family: var(--font-family);
  //   font-weight: 400;
  //   font-size: functions.fluidValue(14px, 24px, 320px, 1920px);
  //   color: var(--black);

  //   @include mixins.respond-to($bp-mobile) {
  //     color: var(--gray-1);
  //     text-transform: uppercase;
  //   }
  // }

  &__header {
    display: flex;
    gap: 13px;
    margin-bottom: functions.fluidValue(10px, 27px, 320px, 1920px);
    line-height: 1;
  }

  &__grid {
    display: flex;
    justify-content: space-between;
    gap: 25px;

    @include mixins.respond-to($bp-mobile) {
      flex-direction: column;
    }
  }

  &__card {
    flex: 1;
  }

  &__button {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: functions.fluidValue(10px, 14px, 320px, 1920px);
    text-align: center;
    color: var(--black);
    background: var(--main-color);
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_icon {
      padding: 0;
      @include mixins.respond-to($bp-mobile) {
        width: 20px;
        height: 20px;
      }

      svg {
        width: 11px;
        height: 11px;

        @include mixins.respond-to($bp-mobile) {
          width: 9px;
          height: 9px;
        }
      }
    }
  }
}
.dashboard-card {
  &__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: functions.fluidValue(12px, 18px, 320px, 1920px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-2);
    margin-bottom: functions.fluidValue(10px, 15px, 320px, 1920px);

    @include mixins.respond-to($bp-mobile) {
      text-transform: none;
    }
  }

  &__content {
    margin-bottom: 10px;
  }

  &__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: functions.fluidValue(12px, 16px, 320px, 1920px);
    line-height: 125%;
    color: var(--gray-1);
  }

  &__actions {
    display: flex;
    gap: functions.fluidValue(9px, 12px, 320px, 1920px);
  }
}
