@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.hero {
  $bp-mobile: 550px;

  .page-container-1920 {
    @include mixins.respond-to($bp-mobile) {
      padding: 0;
    }
  }

  &__wrapper {
    display: flex;
    position: relative;
    padding-block: 45.5px;

    @include mixins.respond-to($bp-mobile) {
      padding-top: 30px;
      padding-bottom: 76px;
    }
  }

  &__hero-background-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @include mixins.respond-to(lg-sm) {
      object-position: 100% 50%;
    }

    @include mixins.respond-to(sm) {
      object-position: 88% 50%;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-inline: 30px;
    padding-left: 154px;
    gap: 39px;

    @include mixins.respond-to(xl) {
      gap: 0;
      padding-left: 30px;
    }

    @include mixins.respond-to($bp-mobile) {
      flex-direction: column-reverse;
      align-items: center;
      gap: 19px;
      padding: 0;
    }
  }

  .text-block {
    margin-block: auto;
    max-width: 100%;
    padding-right: 43px;
    padding-bottom: 0;
    padding-top: 23px;

    @include mixins.respond-to(xl) {
      padding-right: functions.fluidValue(10px, 43px, 320px, 1920px);
      padding-top: functions.fluidValue(10px, 23px, 320px, 1920px);
    }
    @include mixins.respond-to(sm) {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      &::after,
      &::before {
        display: none;
      }
    }

    &__title {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 86px;
      line-height: 96px;
      text-transform: uppercase;
      color: var(--black);
      margin-bottom: 48px;

      @include mixins.respond-to(xl) {
        font-size: functions.fluidValue(20px, 86px, 320px, 1920px);
        line-height: functions.fluidValue(30px, 96px, 320px, 1920px);
        margin-bottom: functions.fluidValue(14px, 48px, 320px, 1920px);
      }

      @include mixins.respond-to($bp-mobile) {
        font-size: 32px;
        line-height: 35px;
        white-space: normal;
        text-align: center;
        max-width: 292px;

        br {
          display: none;
        }
      }
    }

    &__text {
      display: none;
    }

    .button {
      @include mixins.respond-to($bp-mobile) {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.04em;
        padding-inline: 24px;
        padding-block: 8px;
      }
    }
  }

  &__slider {
    min-width: 0;
    max-width: functions.fluidValue(277px, 948px, 320px, 1920px);
    max-height: functions.fluidValue(277px, 719px, 320px, 1920px);
    overflow-x: clip;
  }

  .hero-slider {
    transform: translateX(17%);
    overflow: visible;
    height: 100%;

    @include mixins.respond-to($bp-mobile) {
      transform: translateX(12%);
    }

    &__nav {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      width: 100%;
      align-items: center;

      @include mixins.respond-to($bp-mobile) {
        padding-inline: 14px;
        padding-bottom: 11px;
        justify-content: space-between;
      }

      .slider-nav {
        &.slider-nav-left {
          margin-left: auto;

          @include mixins.respond-to($bp-mobile) {
            margin: 0;
            order: 1;
          }
        }
        &.slider-nav-right {
          margin-left: 3px;
          @include mixins.respond-to($bp-mobile) {
            margin: 0;
            order: 3;
          }
        }

        @include mixins.respond-to(xl) {
          width: functions.fluidValue(30px, 50px, $bp-mobile, 1920px);
          height: functions.fluidValue(30px, 50px, $bp-mobile, 1920px);

          svg {
            width: 8px;
            height: 14px;
          }
        }

        @include mixins.respond-to($bp-mobile) {
          width: 40px;
          height: 40px;
        }
      }
    }

    &__nav-bullets {
      margin-left: functions.fluidValue(14px, 28px, $bp-mobile, 1920px);

      @include mixins.respond-to($bp-mobile) {
        margin: 0;
        order: 2;
      }

      &.swiper-pagination {
        display: flex;
        gap: 8px;
        height: max-content;
        align-items: center;
      }

      .swiper-pagination-bullet {
        display: inline-flex;
        border: 1px solid var(--gray-1);
        width: functions.fluidValue(16px, 18px, $bp-mobile, 1920px);
        height: functions.fluidValue(16px, 18px, $bp-mobile, 1920px);
        transition: 0.3s;
      }

      .swiper-pagination-bullet-active {
        width: functions.fluidValue(20px, 22px, $bp-mobile, 1920px);
        height: functions.fluidValue(20px, 22px, $bp-mobile, 1920px);
        background-color: var(--black);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);

      @include mixins.respond-to($bp-mobile) {
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
      }
    }

    .swiper-slide {
      position: relative;
      aspect-ratio: 474/709;
      max-width: 474px;
      max-height: 709px;

      opacity: 0;
      pointer-events: none;
      transition: 0.5s;
    }

    .swiper-slide-active {
      opacity: 1;
      pointer-events: auto;
    }

    .swiper-slide-prev {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.slider-nav {
  width: 50px;
  height: 50px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 10px;
    height: 16px;
  }
}
