@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.hero {
  &__wrapper {
    display: flex;
    position: relative;
    // aspect-ratio: 1878/800;
    padding-block: functions.fluidValue(10px, 40px, 320px, 1920px);
  }

  &__hero-background-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @include mixins.respond-to(lg-sm) {
      object-position: 100% 50%;
    }

    @include mixins.respond-to(sm) {
      object-position: 88% 50%;
    }
  }

  &__content {
    display: flex;
    // display: grid;
    // grid-template-columns: max-content 50%;
    width: 100%;
    justify-content: center;
    // gap: 99px;

    @include mixins.respond-to(xl) {
      // gap: functions.fluidValue(10px, 99px, 320px, 1920px);
    }
  }

  .text-block {
    // left: 234px;
    margin-block: auto;
    max-width: 100%;
    padding-right: 43px;
    padding-bottom: 0;
    padding-top: 23px;

    @include mixins.respond-to(xl) {
      // left: functions.fluidValue(23px, 234px, 320px, 1920px);
      padding-right: functions.fluidValue(10px, 43px, 320px, 1920px);
      padding-top: functions.fluidValue(10px, 23px, 320px, 1920px);
    }
    @include mixins.respond-to(sm) {
      padding: 0;

      &::after,
      &::before {
        display: none;
      }
    }

    &__title {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 86px;
      line-height: 96px;
      text-transform: uppercase;
      color: var(--black);
      margin-bottom: 48px;

      @include mixins.respond-to(xl) {
        font-size: functions.fluidValue(32px, 86px, 320px, 1920px);
        line-height: functions.fluidValue(35px, 96px, 320px, 1920px);
        margin-bottom: functions.fluidValue(14px, 48px, 320px, 1920px);
      }
    }

    &__text {
      display: none;
    }
  }

  &__slider {
    // flex: 1 1 814px;
    // background-color: pink;
    min-width: 0;
    // aspect-ratio: 814/719;
    max-width: 948px;
    max-height: 719px;
    // // height: 719px;
    overflow-x: clip;

    // @include mixins.respond-to(1560px) {
    //   aspect-ratio: 814/719;
    //   width: 600px;
    // }

    // display: flex;
    // align-items: center;
    // justify-content: center;
  }

  .hero-slider {
    // margin: 0 auto;
    transform: translateX(functions.fluidValue(80px, 160px, 320px, 1920px));
    overflow: visible;
    // padding: 20px;
    height: 100%;

    // &__card {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
      // max-width: 474px;
    }
    // }

    .swiper-slide {
      position: relative;
      aspect-ratio: 474/709;
      max-width: 474px;
      max-height: 709px;

      opacity: 0;
      pointer-events: none;
      transition: 0.5s;
    }

    .swiper-slide-active {
      opacity: 1;
      pointer-events: auto;
    }

    .swiper-slide-prev {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
