.nav-menu {
  &_horizontal {
    display: flex;
    justify-content: center;

    .nav-menu__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .nav-menu__link {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 0.02em;
      color: var(--white);
      padding-block: 13px;
      position: relative;
      white-space: nowrap;

      &.active {
      }
    }
  }
}
