@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/variables" as variables;

.nav-menu {
  &_horizontal {
    display: flex;
    justify-content: center;

    .nav-menu__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 9px;
    }

    .nav-menu__link {
      $line-margin: 4px;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--white);
      padding-inline: 10px;
      padding-block: $line-margin;
      position: relative;

      @media (hover: hover) {
        &:hover {
          @include mixins.active-menu-link(-$line-margin);
        }
      }

      &.active {
        @include mixins.active-menu-link(-$line-margin);
      }
    }
  }
}
