.nav-menu {
  &_horizontal {
    display: flex;
    justify-content: center;

    .nav-menu__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 9px;
    }

    .nav-menu__link {
      $line-margin: 4px;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--white);
      padding-inline: 10px;
      padding-block: $line-margin;
      position: relative;

      &:hover {
      }

      &.active {
        &::after {
          content: "";
          height: 2px;
          width: 100%;
          position: absolute;
          bottom: -$line-margin;
          left: 0;
          background-color: red;
        }
      }
    }
  }
}
