@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.profile-section {
  $col-1-flex: 0 1 25%;
  $col-2-flex: 1 1 70%;
  $col-gap: 50px;
  width: 100%;
  max-width: 1058px;

  @include mixins.respond-to(lg-sm) {
    padding-top: functions.fluidValue(20px, 46px, 360px, 1920px);
    padding-bottom: functions.fluidValue(20px, 90px, 360px, 1920px);
  }

  &__body {
    display: flex;
    gap: 108px;
    overflow-x: auto;
  }

  &__menu {
    flex: 1 1 288px;
    transform: translateX(0);
  }

  &__content {
    min-height: 260px;
    flex: 1 1 662px;
    background-color: rgba(0, 0, 255, 0.438);
  }

  .account-menu {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .account-menu-item {
      &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: var(--foreground);
        margin-bottom: 7px;
        white-space: nowrap;
      }

      .account-menu-list {
        &__item {
          cursor: pointer;
          transition: 0.3s;
          padding: 10px;

          &:has(.account-menu-list__link.active) {
            background: var(--light-blue-hover);
            cursor: default;
            pointer-events: none;
          }

          @media (hover: hover) {
            &:hover {
              background: var(--light-blue-hover);
            }
          }
        }
        &__link {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 18px;
          line-height: 128%;
          color: var(--gray-1);

          &.active {
            font-weight: 500;
            color: var(--black);
            cursor: default;
            pointer-events: none;
          }
        }
      }
    }
  }
}
