@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;
@use "@/shared/ui/dropdown/dropdown.scss" as *;

.profile-section {
  $bp-mobile: 1028px;
  width: 100%;
  max-width: 1058px;

  @include mixins.respond-to(lg-sm) {
    padding-top: functions.fluidValue(20px, 46px, 360px, 1920px);
    padding-bottom: functions.fluidValue(20px, 90px, 360px, 1920px);
  }

  &__body {
    display: flex;
    gap: functions.fluidValue(25px, 108px, $bp-mobile, 1920px);
    justify-content: space-between;

    @include mixins.respond-to($bp-mobile) {
      flex-direction: column;
    }
  }

  &__menu {
    flex: 1 1 288px;
    transform: translateX(0);

    @include mixins.respond-to(xl) {
      flex: none;
    }
  }

  &__content {
    min-height: 260px;
    flex: 1 1 662px;

    @include mixins.respond-to(xl) {
      flex: none;
    }
  }

  .account-menu {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .account-menu-item {
      &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: var(--foreground);
        margin-bottom: 7px;
        white-space: nowrap;
      }

      .account-menu-list {
        &__item {
          cursor: pointer;
          transition: 0.3s;
          padding: 10px;

          &:has(.account-menu-list__link.active) {
            background: var(--light-blue-hover);
            cursor: default;
            pointer-events: none;
          }

          @media (hover: hover) {
            &:hover {
              background: var(--light-blue-hover);
            }
          }
        }
        &__link {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 18px;
          line-height: 128%;
          color: var(--gray-1);

          &.active {
            font-weight: 500;
            color: var(--black);
            cursor: default;
            pointer-events: none;
          }
        }
      }
    }
  }

  .dropdown {
    &__trigger {
      background: var(--light-blue-hover);
    }
  }

  @media (min-width: $bp-mobile) {
    .dropdown {
      position: static;
    }

    .dropdown__native,
    .dropdown__trigger {
      display: none;
      pointer-events: none;
    }

    .dropdown__menu {
      position: static;
      display: flex;
      flex-direction: column;
      box-shadow: none;
      border: none;
      padding: 0;
      opacity: 1;
      visibility: visible;
      max-height: none;
      pointer-events: auto;
    }

    .dropdown__option {
      justify-content: flex-start;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      color: var(--gray-1);

      &_selected {
        font-weight: 500;
        color: var(--black);
      }
    }
  }
}
