@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

// functions.fluidValue(12px, 14px, 320px, 1920px)

.mini-cart {
  --layout-padding: 30px;

  display: flex;
  flex-direction: column;
  min-height: 100%;

  @mixin sticky($position, $z-index: 2, $bg: var(--white)) {
    position: sticky;
    z-index: $z-index;
    background-color: $bg;

    @if $position == top {
      top: 0;
    } @else if $position == bottom {
      bottom: 0;
    }
  }

  &__header {
    @include sticky(top);
    padding: var(--layout-padding);
    padding-top: 45px;
    padding-bottom: 0;
  }

  &__body {
    padding: var(--layout-padding);
    flex: 1;
  }

  &__footer {
    @include sticky(bottom);
    border-top: 2px solid var(--light-blue-hover);
    padding: var(--layout-padding);
    padding-top: 20px;

    .mini-cart__total {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 20px;
      color: var(--black);
      display: flex;
      justify-content: space-between;
      margin-bottom: 22px;
    }

    .button {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      padding-block: 12px;
      line-height: 22px;
    }

    .mini-cart__cart-btn {
      margin-bottom: 17px;
    }
  }

  &__items {
    .cart-product-card:first-child {
      .cart-product-card__wrapper {
        padding-top: 0 !important;
      }
    }

    .cart-product-card:last-child {
      .cart-product-card__wrapper {
        border-bottom: none !important;
        padding-bottom: 0 !important;
      }
    }
  }

  &__close-icon {
    color: var(--divider);
  }
}
