@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/variables" as variables;

@use "@/features/cart/ui/cart-popup.scss" as *;
@use "@/shared/ui/table/table.scss" as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: var(--z-index-header);
  background-color: var(--black);
  color: var(--white);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__center-block {
    display: flex;
    align-items: center;
  }

  &__right-block {
    display: flex;
    align-items: center;
  }

  .nav-menu {
    @include mixins.respond-to(md) {
      display: none;
    }
  }
}

//////////////////////////////
.auth {
  display: flex;
  gap: 26px;
  align-items: center;

  &__link {
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.02em;
    color: var(--foreground);
    display: inline-flex;

    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--accent);
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }

    @media (hover: hover) {
      &:hover:after {
        transform: scaleX(1);
      }
    }
  }

  @media (hover: hover) {
    &__login:hover .auth__link:after {
      transform: scaleX(1);
    }
  }

  a.active::after {
    transform: scaleX(1);
  }

  .auth__login.active .auth__link:after {
    transform: scaleX(1);
  }

  &__login {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #93b474;
  background-color: var(--background);
  z-index: var(--z-index-header-nav-mobile);
  transition: transform 0.3s ease-in-out, opacity 0s linear 0.3s,
    visibility 0s linear 0.3s;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;

  &.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    transition: transform 0.3s ease-in-out, opacity 0s, visibility 0s;
  }

  &__row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 12px;
    padding-block: 14px;
  }

  &__row-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 12px;
    background-color: var(--background-secondary);
    padding-block: 12px;
  }

  &__row-4 {
    flex: 1;
    min-height: 185px;
  }

  &__nav-menu {
    .nav-menu__link {
      width: 100%;
      font-family: var(--font-family-primary);
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 0.02em;
      color: var(--foreground);
      border-bottom: 1px solid rgba(0, 0, 0, 0.04);
      padding-block: 14px;
      padding-inline: 12px;

      &.active {
        background-color: var(--background-tertiary);
        text-shadow: 0.2px 0 0 currentColor;
        color: var(--background-secondary);
      }
    }
  }

  .banner {
    position: relative;
    width: 100%;
    height: 100%;
    // aspect-ratio: 360/185;

    &__image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__title {
      font-family: var(--font-family-primary);
      font-weight: 800;
      font-size: 24px;
      letter-spacing: 0.01em;
      color: var(--foreground-secondary);
      margin-bottom: 10px;
    }

    &__text {
      font-family: var(--font-family-primary);
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.01em;
      text-align: center;
      color: var(--foreground-secondary);
      max-width: 223px;
    }
  }
}

.profile-button {
  anchor-name: --profile-button;
}

.profile-menu {
  position-anchor: --profile-button;

  position: absolute;
  inset: auto;
  top: anchor(bottom);
  right: anchor(right);
  margin-block-start: 6px;

  padding: 8px 0;
  background: var(--background);
  border: 1px solid var(--skeleton-background);
  border-radius: 10px;
  font-family: var(--font-family-primary);

  opacity: 0;
  transition: display 0.3s, opacity 0.3s;
  transition-behavior: allow-discrete;

  &:popover-open {
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 10px 16px;
    font-size: 12px;
    color: var(--foreground);
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      border-bottom: 1px solid var(--skeleton-background);
    }

    &:hover {
      background: var(--light-green);
    }
  }

  a {
    text-decoration: none;
    color: var(--foreground);
    width: 100%;
    display: block;
    font-weight: 600;
  }

  .logout {
    color: #ef3d3d;
    font-weight: 600;
  }
}

.cart-btn {
  anchor-name: --cart-btn;
}
.cart-popup {
  $mobile-breakpoint: 700px;

  position-anchor: --cart-btn;
  position: absolute;
  inset: auto;
  top: anchor(bottom);
  right: anchor(right);
  margin-block-start: 30px;

  @include mixins.respond-to($mobile-breakpoint) {
    width: calc(100% - 24px);
  }

  .cart {
    // overflow-y: auto;
    // max-height: 230px;
  }

  .table {
    $padding-horizontal: 12px;

    display: block;

    &__body {
      display: block;
      overflow-y: auto;
      max-height: 230px;
      padding-inline: $padding-horizontal;
    }

    &__row {
      display: grid;
      grid-template-columns: 1fr 1fr 0.5fr 50px;

      @include mixins.respond-to($mobile-breakpoint) {
        grid-template-columns: auto;
        grid-template-areas:
          "product-name delete-action"
          "quantity     total-cost";
        row-gap: 20px;
      }
    }

    &__cell_product-name {
      @include mixins.respond-to($mobile-breakpoint) {
        grid-area: product-name;
        justify-self: flex-start !important;
      }
    }

    &__cell_delete-action {
      @include mixins.respond-to($mobile-breakpoint) {
        grid-area: delete-action;
        justify-self: flex-end !important;
      }
    }

    &__cell_quantity {
      @include mixins.respond-to($mobile-breakpoint) {
        grid-area: quantity;
        justify-self: flex-start !important;
      }
    }

    &__cell_total-cost {
      @include mixins.respond-to($mobile-breakpoint) {
        grid-area: total-cost;
        justify-self: flex-end !important;
      }
    }

    .currency-cell {
      min-width: 100px;
    }

    .table-footer {
      padding-inline: $padding-horizontal;

      &__right-group {
        @include mixins.respond-to($mobile-breakpoint) {
          flex-direction: column;
        }
      }
    }
  }
}
