@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/variables" as variables;
@use "@/app/styles/functions" as functions;
@use "@/features/cart/ui/mini-cart/mini-cart.scss" as *;

.header {
  $mobile-bp: 600px;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: var(--z-index-header);
  background-color: var(--black);
  color: var(--white);
  padding-block: 35.5px;

  @include mixins.respond-to(xl) {
    padding-block: functions.fluidValue(14px, 35.5px, 320px, 1920px);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__left-block {
    display: inline-flex;
    align-items: center;
  }

  &__center-block {
    display: flex;
    align-items: center;
    gap: 20px;
    order: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @include mixins.respond-to(xl) {
      position: static;
      left: auto;
      transform: none;
      margin-left: auto;
    }

    @include mixins.respond-to(md) {
      display: none;
    }
  }

  &__right-block {
    display: flex;
    align-items: center;
    margin-left: auto;
    order: 3;
  }

  &__logo {
    order: 1;

    @include mixins.respond-to(md) {
      order: 2;
      width: 64px;
      height: 37px;
      margin-left: auto;
    }

    @include mixins.respond-to($mobile-bp) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;
    }
  }

  .header__burger-btn {
    display: none;

    @include mixins.respond-to(md) {
      display: inline-flex;
      order: 1;
      position: relative;
      width: 20px;
      height: 20px;
    }

    .header__burger-icon,
    .header__close-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: center;
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    }

    .header__burger-icon {
      width: 20px;
      height: 15px;
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }

    .header__close-icon {
      width: 17px;
      height: 17px;
      transform: translate(-50%, -50%) scale(0.8);
      opacity: 0;
    }

    &[aria-expanded="true"] {
      .header__burger-icon {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
      }

      .header__close-icon {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  .header-search {
    display: flex;
    align-items: center;
    gap: 8px;

    @include mixins.respond-to(md) {
      display: none;
    }

    &__label {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--white);
    }
  }

  &__mobile-search-btn {
    display: none;

    @include mixins.respond-to($mobile-bp) {
      display: block;
      width: 20px;
      height: 20px;
    }
  }

  .auth {
    @include mixins.respond-to($mobile-bp) {
      display: none;
    }
  }

  &__wishlist-link {
    margin-left: 29px;

    @include mixins.respond-to($mobile-bp) {
      display: none;
    }
  }

  .cart-item {
    margin-left: 18px;
    display: flex;
    gap: 10px;
    align-items: center;

    @include mixins.respond-to($mobile-bp) {
      margin-left: 14px;
    }

    &__label {
      display: flex;
      flex-direction: column;

      @include mixins.respond-to($mobile-bp) {
        display: none;
      }
    }

    &__count {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 14px;
      height: 14px;
      background-color: var(--main-color-2);
      padding: 2px;

      font-family: var(--font-family);
      font-weight: 500;
      font-size: 10px;
      letter-spacing: 0.02em;
      text-align: center;
      color: var(--white);

      position: absolute;
      top: -2px;
      right: -5px;
      overflow: hidden;
    }

    &__text {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.01em;
      color: var(--white);
    }

    &__total {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.01em;
      color: var(--white);
    }

    &__btn {
      anchor-name: --cart-btn;
      display: inline-flex;
      position: relative;
    }

    &__popover {
      position-anchor: --cart-btn;
      position: absolute;
      inset: auto;
      top: anchor(bottom);
      right: anchor(right);
      margin-block-start: 15px;
      width: 500px;
      height: 587px;
      background-color: var(--white);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.14);

      @include mixins.respond-to(765px) {
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
        margin-block-start: 0;
      }

      .mini-cart {
        @include mixins.respond-to(765px) {
          --layout-padding: 15px;
        }

        &__header {
          @include mixins.respond-to(765px) {
            padding-top: 15px;
          }
        }
      }
    }
  }

  .nav-menu {
    @include mixins.respond-to(md) {
      display: none;
    }
  }
}

.auth {
  display: flex;
  gap: 14px;
  align-items: center;

  &__link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--white);

    position: relative;

    @media (hover: hover) {
      &:hover {
        @include mixins.active-menu-link(-4px);
      }
    }
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: var(--header-height, 50px);
  left: 0;
  width: 100vw;
  background-color: var(--black);
  z-index: var(--z-index-header-nav-mobile);
  transition:
    transform 0.3s ease-in-out,
    opacity 0s linear 0.3s,
    visibility 0s linear 0.3s;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;

  &.is-open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition:
      transform 0.3s ease-in-out,
      opacity 0s,
      visibility 0s;
  }

  .page-container-1920 {
    margin: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__nav-menu {
    margin-block: 23px;

    .nav-menu__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 17px;
    }

    .nav-menu__link {
      width: 100%;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      text-transform: uppercase;
      text-align: center;
      color: var(--white);

      &.active {
        color: var(--main-color-2);
      }
    }
  }

  .search-group {
    $border-color: #d1d1d1;
    $bg-light: #f0f0f0;
    $text-gray: #999;
    $button-text: #777;

    margin-top: 12px;
    display: inline-flex;
    background-color: #fff;
    font-family: "Arial", sans-serif;
    overflow: hidden;
    width: 100%;
    max-width: 320px;

    .search-input {
      border: none;
      font-size: 16px;
      outline: none;
      width: 72.5%;
      padding-block: 11px;
      padding-inline: 14px;

      &::placeholder {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: var(--gray-1);
      }
    }

    .search-button {
      width: 27.5%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $bg-light;
      border: 2px solid $border-color;

      font-family: var(--font-family);
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      color: var(--gray-1);

      cursor: pointer;
      transition: background-color 0.2s ease;
    }
  }
}

body:has(.cart-item__popover:popover-open) {
  @include mixins.respond-to(765px) {
    overflow: hidden;
  }
}

// .profile-button {
//   anchor-name: --profile-button;
// }

// .profile-menu {
//   position-anchor: --profile-button;

//   position: absolute;
//   inset: auto;
//   top: anchor(bottom);
//   right: anchor(right);
//   margin-block-start: 6px;

//   padding: 8px 0;
//   background: var(--background);
//   border: 1px solid var(--skeleton-background);
//   border-radius: 10px;
//   font-family: var(--font-family-primary);

//   opacity: 0;
//   transition: display 0.3s, opacity 0.3s;
//   transition-behavior: allow-discrete;

//   &:popover-open {
//     opacity: 1;

//     @starting-style {
//       opacity: 0;
//     }
//   }

//   ul {
//     list-style: none;
//     margin: 0;
//     padding: 0;
//   }

//   li {
//     padding: 10px 16px;
//     font-size: 12px;
//     color: var(--foreground);
//     cursor: pointer;
//     user-select: none;

//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     &:not(:last-child) {
//       border-bottom: 1px solid var(--skeleton-background);
//     }

//     &:hover {
//       background: var(--light-green);
//     }
//   }

//   a {
//     text-decoration: none;
//     color: var(--foreground);
//     width: 100%;
//     display: block;
//     font-weight: 600;
//   }

//   .logout {
//     color: #ef3d3d;
//     font-weight: 600;
//   }
// }
