@use "@/app/styles/index.scss" as *;
@use "swiper/css";
@use "@/widgets/header/header.scss" as *;
@use "@/shared/ui/button/button.scss" as *;
@use "@/shared/ui/nav-menu/nav-menu.scss" as *;
@use "@/widgets/benefits-section/benefits-section.scss" as *;
@use "@/widgets/footer/footer.scss" as *;
@use "@/pages/home/sections/brand-section/brand-section.scss" as *;
@use "@/pages/home/sections/explore-section/explore-section.scss" as *;
@use "@/pages/home/sections/offers-section/offers-section.scss" as *;
@use "@/shared/ui/text-block/text-block.scss" as *;
@use "@/pages/home/sections/banner-section/banner-section.scss" as *;
@use "@/pages/home/sections/hero-section/hero-section.scss" as *;
