@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.explore {
  $bp-mobile: 650px;

  &__wrapper {
    display: flex;
    gap: functions.fluidValue(20px, 96px, 320px, 1920px);
    position: relative;

    @include mixins.respond-to($bp-mobile) {
      gap: 0;
      align-items: flex-end;
      padding: 12px;
      aspect-ratio: 292/252;
    }
  }

  &__img {
    max-width: 1060px;
    max-height: 363px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    @include mixins.respond-to($bp-mobile) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      max-height: 100%;
    }
  }

  .text-block {
    @include mixins.respond-to($bp-mobile) {
      background-color: var(--white);
      border: 2px solid var(--divider);
      padding-inline: 20px;
      padding-block: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &::after,
      &::before {
        display: none;
      }

      &__text {
        text-align: center;
      }
    }
  }
}
