@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.explore {
  $bp-mobile: 650px;

  &__wrapper {
    display: flex;
    gap: functions.fluidValue(20px, 96px, 320px, 1920px);
    position: relative;
    aspect-ratio: 292/252;

    @include mixins.respond-to($bp-mobile) {
      gap: 0;
      align-items: flex-end;
      padding: 12px;
    }
  }

  &__img {
    max-width: 1060px;
    max-height: 363px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    @include mixins.respond-to($bp-mobile) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      max-height: 100%;
    }
  }

  .text-block {
    @include mixins.respond-to($bp-mobile) {
      background-color: var(--white);
      border: 2px solid var(--divider);
      padding-inline: 20px;
      padding-block: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &::after,
      &::before {
        display: none;
      }

      &__text {
        text-align: center;
      }
    }
  }
}

.text-block {
  padding-block: 15px;
  max-width: 640px;
  position: relative;
  height: max-content;

  @include mixins.respond-to(md) {
    padding-right: functions.fluidValue(14px, 30px, 320px, 1920px);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 98%;
    background-color: var(--black);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 29%;
    background-color: var(--black);
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: functions.fluidValue(14px, 56px, 320px, 1920px);
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: functions.fluidValue(10px, 31px, 320px, 1920px);
    white-space: nowrap;
  }

  &__text {
    font-family: var(--font3);
    font-weight: 400;
    font-size: functions.fluidValue(10px, 25px, 320px, 1920px);
    letter-spacing: 0.01em;
    color: var(--black);
    margin-bottom: functions.fluidValue(15px, 35px, 320px, 1920px);
    line-height: functions.fluidValue(12px, 35px, 320px, 1920px);
  }

  .button {
    font-size: functions.fluidValue(10px, 18px, 320px, 1920px);
    padding-inline: functions.fluidValue(18px, 46px, 320px, 1920px);

    @include mixins.respond-to(md) {
      padding-block: 7px;
    }
  }
}
