@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.explore {
  &__wrapper {
    display: flex;
    gap: 96px;
  }

  &__img {
    max-width: 1060px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.text-block {
  padding-block: 15px;
  max-width: 640px;
  position: relative;
  height: max-content;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 98%;
    background-color: var(--black);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 29%;
    background-color: var(--black);
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 56px;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 31px;
  }

  &__text {
    font-family: var(--font3);
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.01em;
    color: var(--black);
    margin-bottom: 35px;
    line-height: 35px;
  }
}
