@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.blog-content {
  .page-container-1920 {
  }

  .content {
    max-width: 1216px;
    margin: auto;
    display: flex;
    gap: functions.fluidValue(20px, 98px, 320px, 1920px);

    &__col-1 {
      flex: 1 1 818px;
    }

    &__col-2 {
      flex: 1 1 300px;
      padding-top: 28px;

      @include mixins.respond-to(sm) {
        display: none;
      }
    }

    &__section {
    }

    &__title {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: functions.fluidValue(14px, 32px, 320px, 1920px);
      color: var(--black);
      margin-bottom: functions.fluidValue(12px, 24px, 320px, 1920px);
    }

    &__paragraph {
      font-family: var(--second-family);
      font-size: functions.fluidValue(12px, 18px, 320px, 1920px);
      color: var(--black-2);
      line-height: functions.fluidValue(20px, 28px, 320px, 1920px);
      margin-bottom: functions.fluidValue(12px, 35px, 320px, 1920px);
    }

    &__dresses-img {
      margin-block: functions.fluidValue(12px, 25px, 320px, 1920px);
    }

    &__ad {
      display: flex;
      flex-direction: column;
      gap: 41px;
    }
  }
}
