@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.products {
  &__content {
    display: flex;
    gap: 30px;
  }

  &__aside {
    border-right: 1px solid var(--divider);
    flex: 1 1 394px;
    margin-top: -5px;
    padding-right: 29px;

    @include mixins.respond-to(900px) {
      padding-right: 0;
      border: none;
    }
  }

  &__main {
    flex: 1 1 1454px;
  }

  &__category-description {
    margin-top: 20px;
  }
}

.about-dresses {
  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 68px;
    color: var(--black);
  }

  &__text {
    padding-bottom: 20px;
    padding-top: 11px;
    font-family: var(--font3);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: var(--black);
  }
}
