@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.products {
  &__content {
    display: flex;
    gap: 30px;
  }

  &__aside {
    border-right: 1px solid var(--divider);
    flex: 1 1 394px;
    margin-top: -5px;
    padding-right: 40px;

    @include mixins.respond-to(650px) {
      display: none;
    }
  }

  &__main {
    flex: 1 1 1454px;
  }
}
