@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.products {
  &__catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
  }
}

.product-card {
  flex: 1 1 auto;
  max-width: 344px;

  &__image {
    aspect-ratio: 344/450;
    max-width: 344px;
    // background-color: pink;
    margin-bottom: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__category {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #bdbdbd;
  }

  &__name {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--black);
    margin-bottom: 12px;
  }

  .price {
    display: flex;
    align-items: baseline;
    gap: 14px;

    &__current {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 22px;
      text-transform: uppercase;
      color: var(--black);

      &.sale {
        color: var(--main-color-2);
      }
    }

    &__old {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: line-through;
      color: var(--gray-1);
    }
  }
}
