@use "@/app/styles/functions" as functions;

@mixin filter-title-style {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: functions.fluidValue(12px, 14px, 320px, 1920px);
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: functions.fluidValue(6px, 10px, 320px, 1920px);
}
