@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.filters-bar {
  $bp-mobile: 768px;
  position: relative;
  width: 100%;
  min-width: 220px;

  &__toggle {
    display: none;
    transition: 0.3s;

    @include mixins.respond-to($bp-mobile) {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      color: var(--black);
      border: 1px solid var(--divider);
      padding: 10px;
      position: relative;
    }
  }

  &__content {
    display: block;

    @include mixins.respond-to($bp-mobile) {
      width: 100%;
      position: absolute;
      bottom: auto;
      left: 0;
      padding: 10px;
      padding-right: 21px;
      background-color: var(--white);
      border: 1px solid var(--black);
      border-top: none;
      z-index: 10;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transform: translateY(-1px);
      transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
      overflow-y: auto;
      pointer-events: none;
    }
  }

  &__icon {
    position: absolute;
    right: 15px;
    top: calc(50% + 2px);
    transform: translateY(-50%) rotate(0);
    transition: 0.3s;
  }

  &_is-open &__icon {
    @include mixins.respond-to($bp-mobile) {
      transform: translateY(-50%) rotateX(180deg);
      transition: 0.3s;

      path {
        stroke: var(--white);
      }
    }
  }

  &_is-open &__toggle {
    @include mixins.respond-to($bp-mobile) {
      color: var(--white);
      background-color: var(--black);
      border: 1px solid var(--black);
    }
  }

  &_is-open &__content {
    @include mixins.respond-to($bp-mobile) {
      max-height: 1000px;
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }

  .about-dresses {
    &__title {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: functions.fluidValue(12px, 24px, 320px, 1920px);
      line-height: functions.fluidValue(18px, 68px, 320px, 1920px);
      color: var(--black);
    }

    &__text {
      // padding-bottom: 20px;
      padding-top: functions.fluidValue(15px, 11px, 320px, 1920px);
      font-family: var(--font3);
      font-weight: 400;
      font-size: functions.fluidValue(10px, 18px, 320px, 1920px);
      line-height: functions.fluidValue(14px, 28px, 320px, 1920px);
      letter-spacing: 0.01em;
      color: var(--black);
    }
  }
}
