@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.filter-panel {
  display: flex;
  flex-direction: column;
  width: 100%;

  .filter-item {
    border-bottom: 1px solid rgba(var(--white-rgb), 0.1);

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      user-select: none;
    }

    &__title {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 24px;
      line-height: 68px;
      color: var(--black);
    }

    &__icon {
      display: block;
      width: 12px;
      height: 2px;
      background-color: var(--black-2);
      position: relative;
      transition: transform 0.3s ease;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: inherit;
        transform: rotate(90deg);
        transition: opacity 0.3s ease;
      }
    }

    &__body {
      display: grid;
      grid-template-rows: 0fr;
      overflow-y: clip;
      transition: grid-template-rows 0.3s ease, padding 0.3s ease;
    }

    &__content {
      min-height: 0;
    }

    &_is-open,
    &_static {
      .filter-item__icon {
        &::after {
          opacity: 0;
        }
      }

      .filter-item__body {
        grid-template-rows: 1fr;
        padding-bottom: 20px;
        padding-top: 11px;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  &__apply-btn {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--gray-1);
    padding-block: 7.5px;
    padding-inline: 37px;
  }

  .selected-filters {
    border: 1px solid var(--black);
    background-color: var(--white);
    padding: 22px;
    margin-bottom: 60px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 35px;
    }

    &__title {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 32px;
      line-height: 1;
      color: var(--black);
    }

    &__reset-btn {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--black);
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &__main {
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }

    &__list-item {
    }
    .list-item {
      &__title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 24px;
        color: var(--black);
        margin-bottom: 12px;
      }

      &__values {
      }
    }
    .values {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;

      &__item {
        // display: flex;
        // align-items: center;
        // gap: 8px;
      }

      &__item-remove-btn {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      &__icon {
      }

      &__label {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--black);
      }
    }
  }
}

.filter-checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__label-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    gap: 9px;

    @media (hover: hover) {
      &:hover .filter-checkbox-list__box {
        border-color: var(--black);
      }

      &:hover .filter-checkbox-list__label {
        color: var(--black);
      }
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked + .filter-checkbox-list__box {
      background-color: var(--black);
      border-color: var(--black);

      &::after {
        opacity: 1;
      }
    }
  }

  &__box {
    border: 1px solid var(--gray-1);
    width: 10px;
    height: 10px;
    background-color: transparent;
    transition: all 0.2s ease;
    flex-shrink: 0;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      display: block;
      opacity: 0;
      width: 6px;
      height: 4px;
      border: solid white;
      border-width: 0 1.5px 1.5px 0;
      transform: rotate(-45deg) scaleX(-1);
      margin-top: -2px;
      transition: opacity 0.2s ease;
    }
  }

  &__label {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--black-2);
  }
}

.size-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 270px;

  &__item {
    cursor: pointer;
    display: block;
    position: relative;
    user-select: none;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked + .size-grid__box {
      color: var(--black);
      border: 2px solid var(--black);
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--divider);
    width: 46px;
    height: 46px;
    background-color: transparent;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: var(--gray-1);
    transition: border-color 0.3s ease;

    @media (hover: hover) {
      &:hover {
        border: 2px solid var(--divider);
      }
    }
  }
}

.color-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  max-width: 239px;

  &__item {
    cursor: pointer;
    display: block;
    position: relative;
    user-select: none;
    padding: 3px;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked + .color-grid__box {
      box-shadow: 0 0 0 3px var(--white), 0 0 0 5px var(--black);
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    width: 17px;
    height: 17px;
    box-shadow: 0 0 0 3px transparent, 0 0 0 4px transparent;
    transition: box-shadow 0.2s;

    @media (hover: hover) {
      &:hover {
        box-shadow: 0 0 0 3px var(--white), 0 0 0 4px var(--divider);
      }
    }

    &_selected-secondary {
      box-shadow: 0 0 0 3px var(--white), 0 0 0 4px var(--divider);
    }

    &_is-white {
      border: 1px solid var(--gray-1);
    }
  }
}

.price-range {
  padding-top: 5px;

  &__values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: var(--black);
    text-transform: uppercase;
  }

  &__slider {
    position: relative;
    height: 2px;
    background: #bdbdbd;
    margin-inline: 5px;
  }

  &__track {
    position: absolute;
    height: 100%;
    background: var(--black);
  }

  &__input {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    outline: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: auto;
      width: 6px;
      height: 20px;
      background: var(--black);
      cursor: pointer;
      border: none;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: var(--black-2);
      }
    }

    &::-moz-range-thumb {
      pointer-events: auto;
      width: 6px;
      height: 20px;
      background: var(--black);
      cursor: pointer;
      border: none;
    }

    // &_min {
    //   z-index: 3;
    // }
    // &_max {
    //   z-index: 4;
    // }

    // &:active {
    //   z-index: 4;
    // }
  }
}
