@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.banner {
  &__wrapper {
    display: flex;
    position: relative;
    aspect-ratio: 1878/467;
    padding-block: functions.fluidValue(13px, 40px, 320px, 1920px);
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    @include mixins.respond-to(lg-sm) {
      object-position: 100% 50%;
    }

    @include mixins.respond-to(sm) {
      object-position: 88% 50%;
    }
  }

  .text-block {
    left: 269px;
    margin-block: auto;
    max-width: functions.fluidValue(171px, 640px, 320px, 1920px);
    padding-right: 22px;
    padding-bottom: 0;

    @include mixins.respond-to(xl) {
      left: functions.fluidValue(20px, 169px, 320px, 1920px);
    }
    @include mixins.respond-to(sm) {
      padding: 0;

      &::after,
      &::before {
        display: none;
      }
    }

    &__title {
      margin-bottom: functions.fluidValue(4px, 13px, 320px, 1920px);
    }

    &__text {
      margin-bottom: functions.fluidValue(13px, 42px, 320px, 1920px);
    }
  }
}
