@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;
@use "@/shared/ui/button/_mixins" as buttonMixins;

.products {
  $bp-mobile: 768px;

  &__top {
    padding-top: functions.fluidValue(5px, 12px, 320px, 1920px);
    padding-bottom: functions.fluidValue(5px, 27px, 320px, 1920px);
  }

  &__sort-panel {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-bottom: 20px;

    @include mixins.respond-to($bp-mobile) {
      gap: functions.fluidValue(14px, 30px, $bp-mobile, 1920px);
    }

    .dropdown__trigger {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: functions.fluidValue(12px, 14px, $bp-mobile, 1920px);
      text-transform: uppercase;
      color: var(--black);
      padding-block: functions.fluidValue(10px, 11px, $bp-mobile, 1920px);

      @include mixins.respond-to($bp-mobile) {
        font-size: 12px;
        padding-block: 10px;
      }

      .dropdown__icon {
        width: functions.fluidValue(9px, 11px, $bp-mobile, 1920px);
        height: functions.fluidValue(6px, 7px, $bp-mobile, 1920px);

        @include mixins.respond-to($bp-mobile) {
          width: 9px;
          height: 6px;
        }
      }
    }

    .products__sort {
      @include mixins.respond-to($bp-mobile) {
        width: 100%;
      }

      .dropdown {
        width: functions.fluidValue(155px, 255px, $bp-mobile, 1920px);

        @include mixins.respond-to($bp-mobile) {
          width: 100%;
        }
      }
    }

    .products__limit {
      .dropdown {
        width: 69px;
      }
    }
  }

  &__content {
    display: flex;
    gap: functions.fluidValue(14px, 30px, $bp-mobile, 1920px);

    @include mixins.respond-to($bp-mobile) {
      flex-direction: column;
    }
  }

  &__aside {
    border-right: 1px solid var(--divider);
    flex: 1 1 394px;
    padding-top: 11px;
    padding-right: functions.fluidValue(14px, 38px, $bp-mobile, 1920px);

    @include mixins.respond-to($bp-mobile) {
      padding-right: 0;
      border: none;
      flex: auto;
    }
  }

  &__main {
    flex: 1 1 1454px;

    @include mixins.respond-to($bp-mobile) {
      flex: auto;
    }
  }

  .catalog__list-banner {
    .banner {
      &__wrapper {
        aspect-ratio: 1454/430;
        .text-block {
          --color: var(--white);

          @media (min-width: 769px) and (max-width: 1200px) {
            left: functions.fluidValue(30px, 60px, 769px, 1200px);
            padding: 0;
            &::after,
            &::before {
              display: none;
            }
          }

          .button {
            @include buttonMixins.button-outlined-color("white");
          }
        }
      }

      &__img {
        @include mixins.respond-to(lg-sm) {
          object-position: initial;
        }

        @media (min-width: 769px) and (max-width: 1200px) {
          object-position: 70% 50%;
        }
      }
    }
  }
}
