@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.products {
  $bp-mobile: 767px;

  &__top {
    padding-top: 12px;
    padding-bottom: 33px;
  }

  &__sort-panel {
    display: flex;
    justify-content: flex-end;

    .dropdown__trigger {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--black);
      padding-block: 11px;
    }

    .products__sort {
      .dropdown {
        width: 255px;
      }
    }

    .products__limit {
      .dropdown {
        width: 69px;
      }
    }
  }

  &__content {
    display: flex;
    gap: functions.fluidValue(14px, 30px, $bp-mobile, 1920px);

    @include mixins.respond-to($bp-mobile) {
      flex-direction: column;
    }
  }

  &__aside {
    border-right: 1px solid var(--divider);
    flex: 1 1 394px;
    margin-top: -5px;
    padding-right: functions.fluidValue(14px, 29px, $bp-mobile, 1920px);

    @include mixins.respond-to($bp-mobile) {
      padding-right: 0;
      border: none;
      flex: auto;
    }
  }

  &__main {
    flex: 1 1 1454px;

    @include mixins.respond-to($bp-mobile) {
      flex: auto;
    }
  }
}
