@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.products {
  $bp-mobile: 768px;

  &__top {
    padding-top: 12px;
    padding-bottom: 27px;
  }

  &__sort-panel {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-bottom: 20px;

    .dropdown__trigger {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--black);
      padding-block: 11px;

      @include mixins.respond-to($bp-mobile) {
        font-size: 12px;
        padding-block: 10px;
      }

      .dropdown__icon {
        @include mixins.respond-to($bp-mobile) {
          width: 9px;
          height: 6px;
        }
      }
    }

    .products__sort {
      @include mixins.respond-to($bp-mobile) {
        width: 100%;
      }
      .dropdown {
        width: 255px;

        @include mixins.respond-to($bp-mobile) {
          width: 100%;
        }
      }
    }

    .products__limit {
      .dropdown {
        width: 69px;
      }
    }
  }

  &__content {
    display: flex;
    gap: functions.fluidValue(14px, 30px, $bp-mobile, 1920px);

    @include mixins.respond-to($bp-mobile) {
      flex-direction: column;
    }
  }

  &__aside {
    border-right: 1px solid var(--divider);
    flex: 1 1 394px;
    padding-top: 11px;
    padding-right: functions.fluidValue(14px, 38px, $bp-mobile, 1920px);

    @include mixins.respond-to($bp-mobile) {
      padding-right: 0;
      border: none;
      flex: auto;
    }
  }

  &__main {
    flex: 1 1 1454px;

    @include mixins.respond-to($bp-mobile) {
      flex: auto;
    }
  }
}
