@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.slider {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: functions.fluidValue(18px, 24px, 320px, 1920px);
    line-height: functions.fluidValue(30px, 68px, 320px, 1920px);
    color: var(--black);
  }

  &__nav {
    display: flex;
    gap: 4px;
  }

  &__main {
    padding-block: 12px;
  }
}

.slider-nav {
  width: 50px;
  height: 50px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  transition: 0.3s;

  svg {
    width: 10px;
    height: 16px;
  }
}

.slider-nav.slider-nav_gray {
  border: 2px solid var(--divider);
  background-color: transparent;
  color: var(--gray-1);

  @media (hover: hover) {
    &:hover {
      border: 2px solid var(--gray-1);
      color: var(--black-2);
    }
  }
}

.slider-nav_size-sm {
  width: 41px;
  height: 41px;

  svg {
    width: 8px;
    height: 13px;
  }

  @include mixins.respond-to(xl) {
    width: functions.fluidValue(30px, 41px, 470px, 1920px);
    height: functions.fluidValue(30px, 41px, 470px, 1920px);
  }
}

.slider-nav-bullets {
  &.swiper-pagination {
    display: flex;
    gap: 8px;
    height: max-content;
    align-items: center;
  }

  .swiper-pagination-bullet {
    display: inline-flex;
    box-shadow: 0 0 0 1px var(--gray-1);

    width: functions.fluidValue(11px, 18px, 320, 1920px);
    height: functions.fluidValue(11px, 18px, 320, 1920px);
    transition: none;
    background-color: transparent;
  }

  .swiper-pagination-bullet-active {
    transition: transform 0.2s;
    transform: scale(1.2);
    background-color: var(--black);
    box-shadow: 0 0 0 1px var(--black);
  }
}
