.form-field {
  /* =========================
     BASE ELEMENTS
     ========================= */

  &__label {
    font-family: var(--second-family);
    font-size: 14px;
    color: var(--black);
  }

  &__control {
    position: relative;
  }

  &__input {
    width: 100%;
    padding-block: 12px;
    padding-inline: 16px;
    line-height: 20px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    box-shadow: inset 0 0 0 1px var(--divider);
    outline: none;

    &::placeholder {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      color: var(--divider);
    }

    &:focus {
      box-shadow: inset 0 0 0 2px var(--divider);
    }
  }

  /* =========================
     MESSAGE (BASE)
     ========================= */

  &__message {
    padding-inline: 17px;
    padding-block: 6px;
    display: none;
    justify-content: space-between;
  }

  &__message-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--main-color-2);
  }

  &__message-icon {
    display: none;
  }

  &_message-default,
  &_message-primary,
  &_message-secondary,
  &_message-success {
    .form-field__message {
      display: flex;
    }
  }

  &_message-default {
    .form-field__message {
      padding-inline: 0;
      background-color: transparent;
    }

    .form-field__message-icon {
      display: none;
    }
  }

  &_message-primary {
    .form-field__message {
      background-color: var(--light-blue-hover);
    }

    .form-field__message-text {
      color: var(--black-2);
    }

    .form-field__message-icon {
      display: block;
    }
  }

  &_message-secondary {
    .form-field__message {
      background-color: #ffe3e3;
    }

    .form-field__message-icon {
      display: block;
    }

    .form-field__input {
      box-shadow: inset 0 0 0 1px var(--main-color-2);

      &:focus {
        box-shadow: inset 0 0 0 2px var(--main-color-2);
      }
    }
  }

  &_message-success {
    .form-field__message {
      background-color: #e3ffe9;
    }

    .form-field__message-icon {
      display: block;
    }

    .form-field__input {
      box-shadow: inset 0 0 0 1px #27ae60;

      &:focus {
        box-shadow: inset 0 0 0 2px #27ae60;
      }
    }
  }

  &_with-button {
    .form-field__control {
      position: relative;
    }

    .form-field__input {
      padding-right: 132px;
    }

    .form-field__action {
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);

      background: none;
      border: none;
      padding: 0;

      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--black-2);
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
