.form-field {
  &__label {
    font-family: var(--second-family);
    font-size: 14px;
    color: var(--black);
  }

  &__control {
    position: relative;
  }

  &__input {
    width: 100%;
    padding-block: 12px;
    padding-inline: 16px;
    line-height: 20px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    box-shadow: inset 0 0 0 1px var(--divider);
    outline: none;

    &::placeholder {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      color: var(--divider);
    }

    &:focus {
      box-shadow: inset 0 0 0 2px var(--divider);
    }

    &_error {
      box-shadow: inset 0 0 0 1px var(--main-color-2);

      &:focus {
        box-shadow: inset 0 0 0 2px var(--main-color-2);
      }
    }
  }

  &__error {
    display: none;
  }

  .error {
    display: flex;
    justify-content: space-between;
    padding-block: 6px;

    &__text {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--main-color-2);
    }

    &__icon {
      display: none;
    }
  }

  &_password {
    .error {
      background-color: #ffe3e3;
      padding-inline: 17px;

      &__text {
        color: var(--black-2);
      }

      &__icon {
        display: block;
      }
    }
  }

  &_with-button {
    .form-field__control {
      position: relative;
    }

    .form-field__input {
      padding-right: 132px;
    }

    .form-field__action {
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);

      background: none;
      border: none;
      padding: 0;

      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--black-2);
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
