.order-summary {
  $section-padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__section {
    border: 2px solid var(--divider);
    background-color: var(--light-blue-hover);
    padding: $section-padding;

    &_bottom {
      padding-bottom: 0;
    }
  }

  &__header {
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--black);
  }

  &__discount {
    margin-top: 16px;
  }

  &__field {
    &--inline {
      display: flex;
      border: 1px solid var(--divider);
      background: var(--white);
    }
  }

  &__input {
    flex: 1;
    padding: 12px;
    border: 1px solid var(--divider);
    font-size: 14px;
    font-family: var(--second-family);

    &::placeholder {
      color: var(--divider);
    }
  }

  &__block {
    &_discount {
      margin-bottom: 19px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
    font-family: var(--second-family);
    color: var(--black-2);
  }

  &__required {
    color: var(--main-color-2);
  }

  &__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: var(--white);
    border: 1px solid var(--divider);
    cursor: default;
  }

  &__chevron {
    width: 10px;
    height: 5px;
    border-left: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    transform: rotate(-45deg);
  }

  &__shipping {
  }

  &__radio {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    cursor: pointer;

    input {
      display: none;
    }

    input:checked + &-control {
      border-width: 3px;
    }
  }

  &__radio-control {
    width: 12px;
    height: 12px;
    border: 2px solid var(--black);
    border-radius: 50%;
    margin-top: 4px;
    flex-shrink: 0;
  }

  &__radio-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__radio-title {
    font-weight: 700;
    font-family: var(--third-family);
    color: var(--black);
  }

  &__radio-text {
    font-size: 14px;
    font-family: var(--second-family);
  }

  &__totals {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-bottom: 22px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__divider {
    border: 1px solid var(--divider);
  }

  &__actions {
    display: flex;
    flex-direction: column;
    margin-inline: -$section-padding;

    button {
      width: 100%;
      display: flex;
      justify-content: center;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      color: var(--white);
      padding-block: 19px;
    }
  }

  [class$="_muted"] {
    color: var(--gray-1);
  }
}
