.order-summary {
  $section-padding: 28px;

  @mixin title() {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
  }

  display: flex;
  flex-direction: column;
  gap: 24px;

  &__section {
    border: 2px solid var(--divider);
    background-color: var(--light-blue-hover);
    padding: $section-padding;

    &_bottom {
      padding-bottom: 0;
    }
  }

  &__title {
    @include title();
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--black);
  }

  &__discount {
    margin-top: 16px;
  }

  &__block {
    &_discount {
      margin-bottom: 19px;
    }
  }

  &__totals {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-bottom: 22px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__divider {
    border: 1px solid var(--divider);
  }

  &__actions {
    display: flex;
    flex-direction: column;
    margin-inline: -$section-padding;
  }

  [class$="_muted"] {
    color: var(--gray-1);
  }

  .shipping-estimate {
    padding-top: 18px;

    &__description {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--gray-1);
    }

    &__fields {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 25px;
      margin-block: 25px;
    }

    &__field {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;
      align-items: center;
    }

    &__label {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--black-2);
    }

    &__required {
      margin-left: 2px;
      color: var(--main-color-2);
      font-weight: 500;
    }
  }

  .shipping-methods {
    &__title {
      margin-bottom: 14px;
    }

    &__item {
      &_flat-rate {
        margin-bottom: 22px;
      }
    }
  }

  .dropdown {
    &__trigger {
      background-color: var(--white);
      color: var(--black-2);
    }
  }
}

.radio {
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &__label {
    display: flex;
    align-items: baseline;
    gap: 13px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;

    line-height: 20px;
    color: var(--gray-1);
    transition: all 0.25s ease;
  }

  &__label::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px var(--gray-1);

    background-color: white;

    display: inline-block;
    flex-shrink: 0;
    transition: all 0.25s ease;
  }

  input[type="radio"]:checked + .radio__label {
    color: var(--black);
  }

  input[type="radio"]:checked + .radio__label::before {
    box-shadow: inset 0 0 0 3px var(--black);
  }
}
