.order-summary {
  $section-padding: 28px;

  @mixin title() {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
  }

  display: flex;
  flex-direction: column;
  gap: 24px;

  &__section {
    border: 2px solid var(--divider);
    background-color: var(--light-blue-hover);
    padding: $section-padding;

    &_bottom {
      padding-bottom: 0;
    }
  }

  &__title {
    @include title();
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--black);
  }

  &__discount {
    margin-top: 16px;
  }

  &__input {
    flex: 1;
    padding: 12px;
    border: 1px solid var(--divider);
    font-size: 14px;
    font-family: var(--second-family);

    &::placeholder {
      color: var(--divider);
    }
  }

  &__block {
    &_discount {
      margin-bottom: 19px;
    }
  }

  .accordion {
    &__title {
      @include title();
    }

    &__icon {
      width: 16px;
      height: 16px;
    }
  }

  &__totals {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-bottom: 22px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__divider {
    border: 1px solid var(--divider);
  }

  &__actions {
    display: flex;
    flex-direction: column;
    margin-inline: -$section-padding;

    button {
      width: 100%;
      display: flex;
      justify-content: center;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      color: var(--white);
      padding-block: 19px;
    }
  }

  [class$="_muted"] {
    color: var(--gray-1);
  }

  .shipping-estimate-content {
    &__description {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--gray-1);
    }

    .shipping {
    }
  }
}

.radio {
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &__label {
    display: flex;
    align-items: baseline;
    gap: 13px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;

    line-height: 20px;
    color: var(--gray-1);
    transition: all 0.25s ease;
  }

  &__label::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px var(--gray-1);

    background-color: white;

    display: inline-block;
    flex-shrink: 0;
    transition: all 0.25s ease;
  }

  input[type="radio"]:checked + .radio__label {
    color: var(--black);
  }

  input[type="radio"]:checked + .radio__label::before {
    box-shadow: inset 0 0 0 3px var(--black);
  }
}
