@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.catalog {
  height: 100%;
  width: 100%;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: functions.fluidValue(14px, 26px, 320px, 1920px);
    row-gap: functions.fluidValue(19px, 41px, 320px, 1920px);

    @include mixins.respond-to(1080px) {
      grid-template-columns: repeat(auto-fill, minmax(139px, 1fr));
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    padding-top: functions.fluidValue(18px, 57px, 320px, 1920px);
    padding-bottom: functions.fluidValue(18px, 40px, 320px, 1920px);
  }

  &__more-button {
    font-weight: 500;
    font-size: functions.fluidValue(12px, 14px, 320px, 1920px);
    padding-block: functions.fluidValue(7px, 12px, 320px, 1920px);
    padding-inline: 35px;

    @include mixins.respond-to(470px) {
      width: 100%;
    }
  }

  &__empty {
    width: 100%;
    height: 100%;
    font-size: 54px;
    display: flex;
    justify-content: center;
    padding-block: 50px;
  }

  .full-width {
    grid-column: 1/-1;
  }
}
