@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.breadcrumbs {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--gray-1);

  @include mixins.respond-to(sm) {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 10px;
    color: var(--gray-1);
  }
}
