@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.product-content {
  $bp-tablet: 1380px;
  $bp-mobile: 767px;

  &__wrapper {
    padding-top: functions.fluidValue(20px, 52px, $bp-mobile, 1920px);
    padding-inline: functions.fluidValue(35px, 40px, $bp-mobile, 1920px);

    @include mixins.respond-to($bp-mobile) {
      padding: 0;
    }
  }

  &__card {
    max-width: 1343px;
    margin: 0 auto;
  }

  .description {
    display: flex;
    justify-content: center;

    &__col-1 {
      flex: 0 1 98px;

      @include mixins.respond-to($bp-tablet) {
        display: none;
      }
    }

    &__col-2 {
      flex: 0 1 1242px;

      @include mixins.respond-to($bp-tablet) {
        flex: 1;
      }
    }
  }
}
