@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.product-content {
  &__wrapper {
    padding-top: 52px;
  }

  &__card {
    max-width: 1343px;
    margin: 0 auto;
  }

  &__tabs {
  }
}
.page-container-1920 {
}
