@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.product-content {
  $bp-mobile: 768px;
  &__wrapper {
    padding-top: functions.fluidValue(20px, 52px, $bp-mobile, 1920px);

    @include mixins.respond-to($bp-mobile) {
      padding: 0;
    }
  }

  &__card {
    max-width: 1343px;
    margin: 0 auto;
  }

  &__tabs {
  }
}
