@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.product-card {
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  grid-row: span 4;

  position: relative;
  width: 100%;

  &__badge {
    position: absolute;
    top: functions.fluidValue(10px, 15px, 320px, 1920px);
    left: 0;
    width: functions.fluidValue(33px, 40px, 320px, 1920px);
    height: functions.fluidValue(17px, 20px, 320px, 1920px);
    background-color: var(--black);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: functions.fluidValue(12px, 14px, 320px, 1920px);
    text-align: center;
    color: var(--white);
  }

  &__image {
    aspect-ratio: 344/450;
    // max-width: 344px;
    // background-color: pink;
    margin-bottom: functions.fluidValue(5px, 16px, 320px, 1920px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__category {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: functions.fluidValue(10px, 12px, 320px, 1920px);
    text-transform: uppercase;
    color: #bdbdbd;
  }

  &__name {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: functions.fluidValue(12px, 18px, 320px, 1920px);
    line-height: functions.fluidValue(18px, 27px, 320px, 1920px);
    color: var(--black);
    margin-bottom: functions.fluidValue(1px, 12px, 320px, 1920px);
  }

  .price {
    display: flex;
    align-items: baseline;
    gap: 14px;
    white-space: nowrap;
    flex-wrap: wrap;
    align-self: flex-start;

    @include mixins.respond-to(550px) {
      gap: 8px;
      align-items: center;
    }

    &__current {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: functions.fluidValue(14px, 22px, 320px, 1920px);
      text-transform: uppercase;
      color: var(--black);

      &.sale {
        color: var(--main-color-2);
      }
    }

    &__old {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: functions.fluidValue(8px, 14px, 320px, 1920px);
      text-transform: uppercase;
      text-decoration: line-through;
      color: var(--gray-1);
    }
  }
}
