@use "sass:math";
@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;
@use "@/features/product-filters/ui/filter-mixins" as filter-mixins;

.size-filter {
  $selected-checkbox-border-width: 2px;
  $checkbox-border-width: 1px;
  $checkbox-border-color: var(--divider);
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include filter-mixins.filter-title-style;
  }

  &__guide {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-transform: none;
    color: var(--link);

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: functions.fluidValue(9px, 10px, 320px, 1920px);
  }

  &__item {
    cursor: pointer;
    display: block;
    position: relative;
    user-select: none;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked + .size-filter__box {
      color: var(--black);
      border: $selected-checkbox-border-width solid var(--black);
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border: $checkbox-border-width solid $checkbox-border-color;
    width: functions.fluidValue(38px, 46px, 320px, 1920px);
    height: functions.fluidValue(38px, 46px, 320px, 1920px);
    background-color: transparent;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: functions.fluidValue(12px, 14px, 320px, 1920px);
    text-transform: uppercase;
    text-align: center;
    color: var(--gray-1);
    transition: border-color 0.3s ease;

    @media (hover: hover) {
      &:hover {
        border: $selected-checkbox-border-width solid $checkbox-border-color;
      }
    }

    &_disabled {
      opacity: 0.4;
      pointer-events: none;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          45deg,
          transparent calc(50% - #{math.div($checkbox-border-width, 2)}),
          $checkbox-border-color
            calc(50% - #{math.div($checkbox-border-width, 2)}),
          $checkbox-border-color
            calc(50% + #{math.div($checkbox-border-width, 2)}),
          transparent calc(50% + #{math.div($checkbox-border-width, 2)})
        );
      }
    }
  }
}

// content: "";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: calc(100% + 12px);
//     height: 1px;
//     background-color: var(--divider);
//     transform: translate(-50%, -50%) rotate(45deg);
