@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.dropdown {
  position: relative;
  width: 100%;

  &__native {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &__trigger {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--black);
    border: 1px solid var(--divider);
    padding: 10px;
  }

  &__menu {
    width: 100%;
    position: absolute;
    bottom: auto;
    left: 0;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-top: none;
    z-index: 10;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  }

  &__icon {
    transform: rotateX(0);
    transition: 0.3s;
  }

  &__option {
    width: 100%;
    text-align: left;
    padding-block: 10px;
    padding-inline: 10px;
    background: none;
    border: none;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background: #f5f5f5;
      }
    }
  }

  &_is-open {
    .dropdown__trigger {
      color: var(--white);
      background-color: var(--black);
      border: 1px solid var(--black);
    }

    .dropdown__menu {
      max-height: 300px;
      opacity: 1;
      transform: translateY(0);
    }

    .dropdown__icon {
      transform: rotateX(180deg);

      path {
        stroke: var(--white);
      }
    }
  }
}
