@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.cart-product-card {
  margin-block: 50px;
  display: grid;
  grid-template-columns: repeat(4, max-content) 1fr max-content;
  column-gap: 40px;
  align-items: center;
  background-color: var(--white);
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--black);

  .product {
    display: grid;
    grid-template-columns: 84px minmax(177px, 187px);
    column-gap: 17px;

    &__image {
      aspect-ratio: 84/103;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .product-details {
      &__title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--black);
        margin-bottom: 10px;
      }
      &__items {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      &__item {
        display: none;
        gap: 5px;
        align-items: baseline;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;

        &_color {
          display: flex;
          align-items: center;

          .product-details__sub-title {
            display: none;
          }

          .color-filter__item {
            border: 1px solid var(--divider);
          }
          .color-filter__box:hover {
            box-shadow: none;
          }
        }
      }

      &__sub-title {
        color: #bdbdbd;
      }

      &__value {
        color: var(--black-2);
        text-transform: uppercase;
      }
    }
  }

  &__total-price {
    justify-self: center;
    white-space: nowrap;
  }

  &__actions {
    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;

      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        background: var(--main-color);

        &_add-to-fav svg {
          width: 11px;
          height: 11px;
        }
        &_edit svg {
          width: 11px;
          height: 11px;
        }
        &_remove svg {
          width: 9px;
          height: 9px;
        }
      }
    }
  }
}
