@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;
$container-media: "882px";

.cart-product-card {
  container-type: inline-size;
  overflow: hidden;

  &__wrapper {
    display: grid;
    grid-template-columns:
      repeat(4, max-content) minmax(120px, max-content)
      max-content;
    column-gap: 32px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    font-family: var(--third-family);
    font-weight: 400;
    font-size: functions.fluidValue(12px, 14px, 320px, 1920px);
    text-transform: uppercase;
    color: var(--black);

    @container (max-width: 882px) {
      grid-template-columns: max-content max-content !important;
      grid-template-areas:
        "product actions"
        "quantity-total quantity-total";
      gap: 8px;
      padding-block: 14px;
      border-bottom: 2px solid var(--light-blue-hover);
    }
  }
  &__sub-title {
    color: #bdbdbd;
    text-transform: none;

    @container (max-width: 882px) {
      display: block;
    }

    &_quantity {
      display: none;

      @container (max-width: 882px) {
        display: block;
        text-transform: uppercase;
        color: var(--black-2);
        margin-bottom: 10px;
      }
    }
  }

  .product {
    display: grid;
    grid-template-columns: 84px 187px;
    column-gap: 15px;

    @container (max-width: 882px) {
      grid-template-columns: 84px 163px;
    }

    &__image {
      aspect-ratio: 84/103;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .product-details {
      &__title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: functions.fluidValue(16px, 18px, 320px, 1920px);
        line-height: functions.fluidValue(18px, 24px, 320px, 1920px);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--black);
        margin-bottom: 10px;

        @container (max-width: 882px) {
          margin-bottom: 2px;
          text-transform: none;
          letter-spacing: 0;
        }
      }
      &__items {
        display: flex;
        flex-direction: column;
        gap: 5px;

        @container (max-width: 882px) {
          gap: 2px;
        }
      }
      &__item {
        display: none;
        gap: 5px;
        align-items: baseline;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;

        @container (max-width: 882px) {
          display: flex;
        }

        &_color {
          display: flex;
          align-items: center;

          .cart-product-card__sub-title {
            display: none;

            @container (max-width: 882px) {
              display: block;
            }
          }

          .color-filter__item {
            border: 1px solid var(--divider);
          }
          .color-filter__box:hover {
            box-shadow: none;
          }
        }
      }

      &__value {
        color: var(--black-2);
        text-transform: uppercase;
      }
    }

    @container (max-width: 882px) {
      grid-area: product;
    }
  }

  &__price {
    @container (max-width: 882px) {
      grid-area: price;
      display: none;
    }
  }

  &__size {
    @container (max-width: 882px) {
      display: none;
    }
  }

  &__quantity-total {
    display: contents;

    @container (max-width: 882px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      grid-area: quantity-total;
    }
  }

  &__quantity {
    @container (max-width: 882px) {
      grid-area: quantity;
    }
  }

  &__total-price {
    justify-self: flex-start;
    white-space: nowrap;

    @container (max-width: 882px) {
      grid-area: total-price;
      display: flex;
      align-items: baseline;
      gap: 5px;
      padding-bottom: 10px;
    }

    .cart-product-card__sub-title {
      display: none;
      @container (max-width: 882px) {
        display: block;
      }
    }
  }

  &__total-price-value {
    @container (max-width: 882px) {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      text-transform: uppercase;
      text-align: right;
      color: var(--black);
    }
  }

  &__actions {
    @container (max-width: 882px) {
      grid-area: actions;
      justify-self: flex-end;
    }
    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;

      @container (max-width: 882px) {
        flex-direction: column;
      }

      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        background: var(--main-color);

        @container (max-width: 882px) {
          width: 20px;
          height: 20px;
        }

        &_add-to-fav svg {
          width: 11px;
          height: 11px;
        }
        &_edit svg {
          width: 11px;
          height: 11px;
        }
        &_remove svg {
          width: 9px;
          height: 9px;
        }
      }
    }
  }
}
