@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.product-details-card {
  display: flex;
  gap: 68px;

  &__col {
    &_media {
      width: 54%;
      height: 833px;
    }

    &_info {
      flex: 1;
      background-color: wheat;
    }
  }

  &__slider {
    height: 100%;
  }
}

.card-slider {
  display: flex;
  gap: 15px;
  width: 100%;
  height: 100%;

  .thumbs-slider {
    width: 86px;
    min-height: 0;

    .swiper-slide {
      height: 106px;
      padding: 2px;

      background-color: red;
    }

    .swiper-slide-thumb-active {
    }

    &__card {
      width: 100%;
      height: 100%;
      // width: 86px;
    }
  }

  .main-slider {
    min-width: 0;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
