@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;
@use "@/features/product-filters/ui/filter-mixins" as filter-mixins;

.product-details-card {
  $bp-tablet: 1380px;
  $bp-mobile: 767px;

  display: grid;
  grid-template-columns: 54% 1fr;
  grid-template-rows: max-content 1fr;
  column-gap: functions.fluidValue(20px, 34px, 320px, 1920px);
  grid-template-areas:
    "media breadcrumbs"
    "media info";

  @include mixins.respond-to($bp-mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: max-content max-content max-content;
    grid-template-areas:
      "breadcrumbs"
      "media"
      "info";
  }

  &__media {
    max-height: 833px;
    grid-area: media;
    margin-inline: 0px;

    @media (max-width: $bp-mobile) {
      margin-inline: -14px;
    }
  }

  &__breadcrumbs {
    padding-top: 15px;
    padding-bottom: 21px;
    grid-area: breadcrumbs;

    @include mixins.respond-to($bp-tablet) {
      padding-block: 12px;
    }
  }

  &__info {
    grid-area: info;
  }

  &__slider {
    height: 100%;
  }

  .card-slider {
    display: flex;
    gap: 15px;
    width: 100%;
    height: 100%;

    .thumbs-slider {
      min-height: 0;
      flex: 1 1 86px;

      @include mixins.respond-to($bp-tablet) {
        display: none;
      }

      .swiper-slide {
        height: auto;
        padding: 2px;
        background-color: var(--white);
        cursor: pointer;
      }

      .swiper-slide-thumb-active {
        .thumbs-slider__card {
          box-shadow: 0 0 0 2px var(--black);
        }
      }

      &__card {
        width: 100%;
        padding: 3px;
        transition: box-shadow 0.2s;
        aspect-ratio: 86 / 106;
      }
    }

    &__main-wrapper {
      width: 86.045%;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-top: 5px;

      @include mixins.respond-to($bp-tablet) {
        width: 100%;
        padding: 0;
      }

      .main-slider {
        min-width: 0;
        width: 100%;
        min-height: 0;

        &__card {
          width: 100%;
          height: 100%;

          @include mixins.respond-to($bp-mobile) {
            height: auto;
            aspect-ratio: 320 / 255;
          }
        }

        &__nav-bullets {
          display: none;

          @include mixins.respond-to($bp-tablet) {
            display: flex;
          }
        }

        &__zoom-btn {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 74px;
          height: 38px;
          background-color: var(--white);
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 7px;

          @include mixins.respond-to($bp-mobile) {
            display: none;
          }
        }

        &__text-zoom {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 13px;
          text-transform: uppercase;
          color: var(--black);
        }
      }

      .card-slider__main-wrapper-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: functions.fluidValue(11px, 15px, 320px, 1920px);
      }
    }

    &__main-wrapper-social-block {
      @include mixins.respond-to($bp-tablet) {
        display: none;
      }
    }

    &__card {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .social-block {
    display: flex;
    align-items: center;
    gap: 12px;

    &__text {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      color: var(--black);
    }
  }

  .info {
    &__header {
      margin-bottom: functions.fluidValue(18px, 31px, 320px, 1920px);

      @include mixins.respond-to($bp-tablet) {
        display: flex;
        justify-content: space-between;
        gap: 10px;
      }

      @include mixins.respond-to($bp-mobile) {
        padding-top: 9px;
      }
    }

    &__title {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: functions.fluidValue(18px, 48px, 320px, 1920px);
      line-height: functions.fluidValue(23px, 56px, 320px, 1920px);
      letter-spacing: 0.005em;
      color: var(--black);

      @include mixins.respond-to($bp-tablet) {
        order: 1;
      }
    }

    &__brand {
      @include mixins.respond-to($bp-tablet) {
        order: 2;
      }
    }

    &__color {
      margin-bottom: functions.fluidValue(18px, 22px, 320px, 1920px);
    }

    &__size {
      margin-bottom: functions.fluidValue(18px, 36px, 320px, 1920px);
    }

    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @include mixins.respond-to($bp-tablet) {
        gap: functions.fluidValue(14px, 19px, 320px, 1920px);
      }
    }

    &__summary {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 25px;
      margin-bottom: functions.fluidValue(18px, 38px, 320px, 1920px);
      grid-column: 1/3;

      @include mixins.respond-to($bp-tablet) {
        grid-template-columns: subgrid;
        gap: inherit;
        margin-bottom: 0;
      }
    }

    &__total-price {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 26px;
      text-transform: uppercase;
      color: var(--black);
    }

    &__actions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 19px;
      max-width: 460px;
      margin-bottom: 12px;
      grid-column: 1/3;

      @include mixins.respond-to($bp-tablet) {
        grid-template-columns: subgrid;
        max-width: 100%;
        gap: inherit;
        margin-bottom: 0;
      }
    }

    .promo {
      display: grid;
      gap: 16px;
      grid-column: 1 / 3;
      grid-template-columns: repeat(3, max-content);

      @include mixins.respond-to($bp-tablet) {
        grid-template-columns: subgrid;
        gap: inherit;
      }

      &__item {
        display: flex;
        align-items: baseline;
        gap: 4px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        text-transform: uppercase;
        color: var(--gray-1);
      }

      &__item-title {
        font-weight: 500;
      }
    }

    &__btn {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: functions.fluidValue(12px, 14px, 320px, 1920px);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      flex: 1;
      padding-inline: 0;
    }

    .add-to-cart-button {
      color: var(--white);
      border: 2px solid var(--black);

      @media (hover: hover) {
        &:hover {
          background: var(--main-color-2);
          border-color: var(--main-color-2);
        }
      }
    }

    .add-to-wishlist-button {
      gap: 5px;
      color: var(--black-2) !important;
    }

    &__filter-title {
      @include filter-mixins.filter-title-style;
    }

    &__social-block {
      display: none;

      @include mixins.respond-to($bp-tablet) {
        display: flex;
      }
    }
  }

  .breadcrumbs {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--gray-1);

    @include mixins.respond-to(sm) {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 10px;
      color: var(--gray-1);
    }
  }

  .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: functions.fluidValue(48px, 75px, 320px, 1920px);
    height: functions.fluidValue(22px, 35px, 320px, 1920px);
    background-color: var(--light-blue-hover);

    &__icon {
      width: functions.fluidValue(33px, 51px, 320px, 1920px);
      height: functions.fluidValue(9px, 15px, 320px, 1920px);
    }
  }
}

