@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.product-details-card {
  display: flex;
  gap: 68px;

  &__col {
    &_media {
      // flex: 1 1 725px;
      width: 54%;
    }

    &_info {
      flex: 1;
      background-color: wheat;
    }
  }

  &__slider {
  }
}

.card-slider {
  display: flex;
  gap: 15px;

  .thumbs-slider {
    // min-width: 0;
    // min-height: 0;
    width: 100%;
    height: 100%;

    &__card {
      width: 86px;
      height: 106px;
      position: relative;
    }

    &__img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  .main-slider {
    // min-width: 0;
    width: 100%;
    &__card {
    }

    &__img {
    }
  }
}
