@use "@/app/styles/index.scss" as *;
@use "@/widgets/header/header.scss" as *;
@use "@/shared/ui/button/button.scss" as *;
@use "@/shared/ui/nav-menu/nav-menu.scss" as *;
@use "@/widgets/benefits-section/benefits-section.scss" as *;
@use "@/widgets/footer/footer.scss" as *;
@use "@/shared/ui/skeleton/skeleton.scss" as *;
@use "@/shared/ui/contact-us-button/contact-us-button.scss" as *;
@use "@/widgets/breadcrumbs/breadcrumbs.scss" as *;
@use "@/shared/ui/accordion/accordion.scss" as *;
@use "@/shared/ui/form-field/form-field.scss" as *;
@use "@/shared/ui/checkbox/checkbox.scss" as *;
@use "@/pages/account/sections/profile-section/profile-section.scss" as *;
@use "@/pages/account/dashboard/ui/dashboard-info/dashboard-info.scss" as *;

@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.dashboard-page {
  $bp-tablet: 1550px;
  $bp-mobile: 450px;

  margin-bottom: 116px;

  @include mixins.respond-to($bp-tablet) {
    margin-bottom: functions.fluidValue(17px, 116px, 320px, $bp-tablet);
  }

  .page-container-1920 {
    max-width: 1496px;
  }

  &__breadcrumbs {
    display: flex;
    justify-content: center;
    padding-block: 18px;

    @include mixins.respond-to($bp-tablet) {
      padding-block: functions.fluidValue(6px, 18px, 320px, $bp-tablet);
    }

    @include mixins.respond-to($bp-mobile) {
      justify-content: flex-start;
    }

    .breadcrumbs__link {
      @include mixins.respond-to($bp-tablet) {
        font-size: functions.fluidValue(10px, 14px, 320px, $bp-tablet);
      }
    }
  }

  &__header {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: var(--black);
    line-height: 68px;
    padding-block: 11px;
    margin-bottom: 23px;

    @include mixins.respond-to($bp-tablet) {
      font-size: functions.fluidValue(18px, 48px, 320px, $bp-tablet);
      line-height: functions.fluidValue(12px, 68px, 320px, $bp-tablet);
      margin-bottom: functions.fluidValue(0px, 23px, 320px, $bp-tablet);
    }

    @include mixins.respond-to($bp-mobile) {
      text-align: left;
      padding-bottom: 15px;
      border-bottom: 1px solid var(--divider);
    }
  }
  &__content {
    border: 1px solid var(--divider);
    display: flex;
    justify-content: center;
    padding-top: 95px;
    padding-bottom: 123px;
    padding-inline: 25px;

    @include mixins.respond-to(sm) {
      border: none;
      padding-top: functions.fluidValue(15px, 95px, 320px, 1920px);
      padding-bottom: functions.fluidValue(15px, 123px, 320px, 1920px);
    }
  }
}

.page-contacts-btn {
  @include mixins.respond-to("1550px") {
    display: none;
  }
}
