@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.offers {
  $bp-mobile: 850px;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto auto;
    gap: functions.fluidValue(12px, 29px, $bp-mobile, 1920px);
    grid-template-areas:
      "col-1 col-3"
      "col-2 col-3";

    @include mixins.respond-to($bp-mobile) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "col-1"
        "col-3"
        "col-2";
    }
  }
  &__list-item {
    position: relative;
    width: 100%;
    height: 100%;

    &:nth-child(1) {
      aspect-ratio: 924/434;
      grid-area: col-1;
    }

    &:nth-child(2) {
      aspect-ratio: 924/434;
      grid-area: col-2;
    }
    &:nth-child(3) {
      aspect-ratio: 925/898;
      grid-area: col-3;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-block {
    width: max-content;
    position: absolute;
    padding: 0;

    &::after,
    &::before {
      display: none;
    }
  }

  .col-1 {
    .text-block {
      top: 83px;
      right: 163px;

      @include mixins.respond-to(xl) {
        top: 50%;
        transform: translateY(-50%);
        right: functions.fluidValue(5px, 110px, 320px, 1920px);
      }

      @include mixins.respond-to($bp-mobile) {
        right: functions.fluidValue(22px, 110px, 320px, $bp-mobile);
      }

      &__title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 48px;
        line-height: 62px;
        text-transform: uppercase;
        color: var(--black);
        margin-bottom: 7px;

        @include mixins.respond-to(xl) {
          font-size: functions.fluidValue(16px, 48px, 320px, 1920px);
          line-height: functions.fluidValue(19px, 62px, 320px, 1920px);
        }

        @include mixins.respond-to($bp-mobile) {
          font-size: functions.fluidValue(16px, 48px, 320px, $bp-mobile);
          line-height: functions.fluidValue(19px, 62px, 320px, $bp-mobile);
        }

        @include mixins.respond-to(350px) {
          white-space: wrap;
          max-width: 100px;
        }
      }
      &__text {
        font-family: var(--font3);
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 0.01em;
        color: var(--black);
        margin-bottom: 48px;

        @include mixins.respond-to(xl) {
          font-size: functions.fluidValue(10px, 22px, 320px, 1920px);
          margin-bottom: functions.fluidValue(11px, 48px, 320px, 1920px);
        }

        @include mixins.respond-to($bp-mobile) {
          font-size: functions.fluidValue(10px, 22px, 320px, $bp-mobile);
          margin-bottom: functions.fluidValue(11px, 48px, 320px, $bp-mobile);
        }
      }
    }

    br {
      @include mixins.respond-to(350px) {
        display: none;
      }
    }
  }

  .col-2 {
    .text-block {
      top: 117px;
      left: 95px;

      @include mixins.respond-to(xl) {
        top: 50%;
        left: functions.fluidValue(5px, 55px, 320px, 1920px);
        transform: translateY(-50%);
      }

      @include mixins.respond-to($bp-mobile) {
        left: functions.fluidValue(31px, 55px, 320px, $bp-mobile);
      }

      &__title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 48px;
        line-height: 62px;
        text-transform: uppercase;
        color: var(--black);
        margin-bottom: 7px;

        @include mixins.respond-to(xl) {
          font-size: functions.fluidValue(16px, 48px, 320px, 1920px);
          line-height: functions.fluidValue(19px, 62px, 320px, 1920px);
        }

        @include mixins.respond-to($bp-mobile) {
          font-size: functions.fluidValue(16px, 48px, 320px, $bp-mobile);
          line-height: functions.fluidValue(19px, 62px, 320px, $bp-mobile);
        }
      }
      &__text {
        font-family: var(--font3);
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 0.01em;
        color: var(--black);
        margin-bottom: 48px;

        @include mixins.respond-to(xl) {
          font-size: functions.fluidValue(10px, 22px, 320px, 1920px);
          margin-bottom: functions.fluidValue(11px, 48px, 320px, 1920px);
        }

        @include mixins.respond-to($bp-mobile) {
          font-size: functions.fluidValue(10px, 22px, 320px, $bp-mobile);
          margin-bottom: functions.fluidValue(11px, 48px, 320px, $bp-mobile);
        }
      }
    }
  }

  .col-3 {
    .text-block {
      left: 86px;
      bottom: 103px;

      @include mixins.respond-to(xl) {
        left: functions.fluidValue(5px, 50px, 320px, 1920px);
        bottom: functions.fluidValue(5px, 50px, 320px, 1920px);
      }

      @include mixins.respond-to($bp-mobile) {
        left: functions.fluidValue(27px, 50px, 320px, 1920px);
        bottom: functions.fluidValue(36px, 50px, 320px, 1920px);
      }

      &__title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 96px;
        line-height: 110px;
        text-transform: uppercase;
        color: var(--black);
        margin-bottom: 7px;

        @include mixins.respond-to(xl) {
          font-size: functions.fluidValue(26px, 96px, 320px, 1920px);
          line-height: functions.fluidValue(29px, 110px, 320px, 1920px);
        }

        @include mixins.respond-to($bp-mobile) {
          font-size: functions.fluidValue(26px, 96px, 320px, $bp-mobile);
          line-height: functions.fluidValue(29px, 110px, 320px, $bp-mobile);
        }
      }
      &__text {
        font-family: var(--font3);
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 0.01em;
        color: var(--black);
        margin-bottom: 48px;

        @include mixins.respond-to(xl) {
          font-size: functions.fluidValue(10px, 22px, 320px, 1920px);
          margin-bottom: functions.fluidValue(11px, 48px, 320px, 1920px);
        }

        @include mixins.respond-to($bp-mobile) {
          font-size: functions.fluidValue(10px, 22px, 320px, $bp-mobile);
          margin-bottom: functions.fluidValue(11px, 48px, 320px, $bp-mobile);
        }
      }
    }
  }
}
