@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.offers {
  $bp-mobile: 650px;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto auto;
    gap: 29px;
    grid-template-areas:
      "col-1 col-3"
      "col-2 col-3";
  }
  &__list-item {
    position: relative;
    width: 100%;
    height: 100%;

    &:nth-child(1) {
      aspect-ratio: 924/434;
      grid-area: col-1;
    }

    &:nth-child(2) {
      aspect-ratio: 924/434;
      grid-area: col-2;
    }
    &:nth-child(3) {
      aspect-ratio: 925/898;
      grid-area: col-3;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
