@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.brand {
  $bp-tablet: 900px;
  $bp-mobile: 500px;

  background: var(--white);
  padding-top: 20px;
  position: relative;

  @include mixins.respond-to($bp-mobile) {
    padding: 0;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    padding-inline: 92px;
    background-color: var(--white);
    white-space: nowrap;

    @include mixins.respond-to($bp-mobile) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block: 28px;
    padding-inline: 11px;
    gap: 20px;
    border: 2px solid var(--divider);

    @include mixins.respond-to(xl) {
      justify-content: space-around;
    }

    @include mixins.respond-to($bp-mobile) {
      justify-content: center;
      padding: 0;
      border: none;
      display: grid;
      grid-template-columns: 139px 139px;
      column-gap: 14px;
      row-gap: 10px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 22px;

    @include mixins.respond-to($bp-mobile) {
      border: 2px solid var(--divider);
      height: 55px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 235px;
    height: 141px;

    @include mixins.respond-to(xl) {
      width: 200px;
      height: 80px;
    }

    @include mixins.respond-to($bp-mobile) {
      width: 139px;
      height: 55px;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--light-blue-hover);
      }
    }
  }

  @include mixins.respond-to($bp-mobile) {
    .chanel {
      width: 77px;
      height: 12px;
    }

    .burberry {
      width: 92px;
      height: 13px;
    }

    .dior {
      width: 43px;
      height: 18px;
    }
    .fendi {
      width: 48px;
      height: 14px;
    }
    .versace {
      width: 65px;
      height: 13px;
    }
    .gucci {
      width: 62px;
      height: 14px;
    }
    .armani {
      width: 71px;
      height: 12px;
    }
  }
}
