@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.brand {
  $bp-tablet: 900px;
  $bp-mobile: 500px;

  background: var(--white);
  padding-top: 20px;
  position: relative;

  @include mixins.respond-to($bp-mobile) {
    padding-block: 25px;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    padding-inline: 92px;
    background-color: var(--white);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block: 28px;
    padding-inline: 11px;
    gap: 20px;
    border: 2px solid var(--divider);

    @include mixins.respond-to(xl) {
      justify-content: center;
      gap: 40px;
    }

    @include mixins.respond-to($bp-mobile) {
    }
  }

  &__item {
    display: flex;
    align-items: flex-end;
    gap: 22px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: functions.fluidValue(100px, 235px, 320px, 1920px);
    height: functions.fluidValue(100px, 141px, 320px, 1920px);

    @media (hover: hover) {
      &:hover {
        background-color: var(--light-blue-hover);
      }
    }
  }
}
