.order-summary {
  $section-padding: 28px;
  $dropdown-inline-padding: 16px;

  @mixin title() {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--black);
  }

  display: flex;
  flex-direction: column;
  gap: 24px;

  &__section {
    border: 2px solid var(--divider);
    background-color: var(--light-blue-hover);
    padding: $section-padding;

    &_bottom {
      padding-bottom: 0;
    }
  }

  &__title {
    @include title();
    border-bottom: 1px solid var(--divider);
    padding-bottom: 11px;
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--gray-1);
  }
  &__discount {
    margin-top: 16px;
  }

  &__block {
    &_discount {
      margin-bottom: 19px;
    }
  }

  .accordion {
    &__inner {
      max-height: 373px;
      overflow: auto;
    }

    &__title {
      @include title();
    }

    &__icon {
      width: 16px;
      height: 16px;
    }
  }

  &__totals {
    display: flex;
    flex-direction: column;
    padding-block: 17px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &_total {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      color: var(--black);
      margin-block: 6px;
    }
  }

  &__divider {
    height: 1px;
    background-color: var(--divider);
    margin-block: 14px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    margin-inline: -$section-padding;

    button {
      width: 100%;
      display: flex;
      justify-content: center;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      color: var(--white);
      padding-block: 19px;
    }
  }

  [class$="_muted"] {
    color: var(--gray-1);
  }

  &__link {
    color: var(--gray-1);
    &.button:disabled {
      color: var(--gray-1);
    }
  }

  .highlight-required {
    color: var(--main-color-2);
  }

  .accordion {
    &__item {
      &.is-active {
        .accordion__icon {
          transform: rotateX(180deg);
        }
      }
    }

    &__button {
      border-bottom: 1px solid var(--divider);
      padding-bottom: 14px;
    }

    &__title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      color: var(--black-2);
    }

    &__icon {
      display: flex;
      width: auto;
      height: auto;
      transition: 0.3s;
      transform: rotate(0);

      &::before,
      &::after {
        display: none;
      }
    }
  }

  .items-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-block: 20px;
  }

  .cart-product-card {
    &__wrapper {
      background-color: transparent;
      padding: 0 !important;
      border: none !important;
      grid-template-areas: "product actions";
    }

    .product-details__items {
      gap: 5px;
    }

    .product-details__item {
      &_size,
      &_price,
      &_sku {
        display: none !important;
      }
      &_qty {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: #bdbdbd;
        display: flex;
      }

      &_view-details {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--black-2);
        display: flex;
        gap: 12px;
      }
    }

    &__quantity-total {
      display: none;
    }

    .actions {
      &__price {
        display: flex;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        text-align: right;
        color: var(--black-2);
      }
      &__btn_edit,
      &__btn_remove {
        display: none;
      }
    }
  }
}

.radio {
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 13px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;

    line-height: 20px;
    color: var(--gray-1);
    transition: all 0.25s ease;
  }

  &__label::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px var(--gray-1);

    background-color: white;

    display: inline-block;
    flex-shrink: 0;
    transition: all 0.25s ease;
  }

  input[type="radio"]:checked + .radio__label {
    color: var(--black);
  }

  input[type="radio"]:checked + .radio__label::before {
    box-shadow: inset 0 0 0 3px var(--black);
  }
}
